<div class="call-comment-main">
    <div class="header">
        <div ng-click="closeCommentModal()" class="back">
            <i class=" iconfont icon-xiangzuo1"></i>
        </div>
        <div class="title">
            输入评论
        </div>
    </div>
    <ion-content>
        <div class="main">
            <textarea ng-model="commentInput.comment" name="" id="" placeholder="请输入评论…"></textarea>
        </div>
        <div ng-click="subComment()" class="ft-sub-btn">
            提交
        </div>
    </ion-content>
</div>