#info_detail{
    .info-detail{
        margin-top: $head-height;
        .card{
            box-shadow: none;
            padding: 0 12px 0;
            height: 50px;
            line-height: 50px;
            .tex{
                float: left;
                width: 20vw;
                font-size: 16px;
                color:rgb(51,51,51);
            }
            .right{
                float: right;
                width: 3vw;
                text-align: right;
                color: rgb(204,204,204);
            }
            .cont{
                padding: 0 5px 0 0;
                width: calc(77vw - 24px);
                float: right;
                text-align: right;
                word-break:keep-all;
                white-space:nowrap;
                overflow:hidden; 
                text-overflow:ellipsis; 
            }
        }
        .headimg{
            padding: 0 12px;
            height: 60px;
            line-height: 60px;
            border-bottom: 1px solid rgb(230,230,230);
            .floatr{
                height: 60px;
                float: right;
                line-height: 60px;
                img{
                    width:40px ;
                    height: 40px;
                    border-radius: 50%;
                    vertical-align: middle;
                }
                .icon{
                    vertical-align: middle;
                    color: rgb(204,204,204);
                }
            }
            .classify{
                float: left;
                color:rgb(51,51,51);
                line-height: 60px;
                font-size: 16px;
            }
        }   
    }
}
