#add_other{
    $right-icon-color:rgb(221,221,221);
    .add-other{
        margin: $head-height 0 0;
        padding: 0 0 10px;
        span.bg-main-color{
            color: $bg-main-color;
        }
        h5{
            margin: 0;
            padding: 0 $view-padding;
            height: 30px;
            line-height: 30px;
            background-color: $bg-gray-color;
        }
        //点击上传图片
        #other_img_wrapper{
            height: auto;
            padding: 10px 0;
            h4{
                padding: 0 12px 0;
                margin: 10px 0 5px;
                font-size: 16px;
                font-weight: 400;
                color: $font-main-color;
            }
            .warning{
                width: 100%;
                padding: 5px $view-padding;
                margin: 0;
                line-height: 20px;
                font-size: 14px;
                color: $font-minor-color;
            }
            ul{
                li{
                    float: left;
                    width: 25vw;
                    height: 95px;
                    .img{
                        width: 85px;
                        height: 85px;
                        margin: 5px auto;
                        position: relative;
                        img{
                            display: block;
                            width: 85px;
                            height: 85px;
                        }
                        span{
                            position: absolute;
                            z-index: 999;
                            display: block;
                            width: 20px;
                            height: 20px;
                            font-size: 16px;
                            text-align: center;
                            line-height: 20px;
                            border: 1px solid $bg-main-color;
                            background-color: $bg-main-color;
                            color: white;
                            border-radius: 50%;
                            top: -5px;
                            right: -5px;
                        }
                    }
                }
            }
            .chooseImg,#choose_other_img{
                .in-choose{
                    margin: 5px 0 0 5px;
                    vertical-align: middle;
                    width: 85px;
                    height: 85px;
                    input{
                        display: none;
                    }
                    .img{
                        width: 100%;
                        height: 100%;
                        border: 1px dashed $line-main-color;
                        .top{
                            width: 100%;
                            height: 14vw;
                            font-size: 20px;
                            text-align: center;
                            line-height: 14vw;
                            color: $font-minor-color;
                            .iconfont{
                                font-size: 20px;
                            }
                        } 
                        .bot{
                            width: 100%;
                            height: 6vw;
                            text-align: center;
                            line-height: 6vw;
                            color: $font-minor-color;
                        }
                    }
                }
            }
            input{
                display: none;
            }
        } 
        .btn-wrapper{
            margin: 40px auto 10px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            .btn-item{
                width: 120px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border-radius: 5px;
                font-size: 16px;
                color: white;
                background-color: $bg-main-color;
            }
        }     
    }
}
