
#register_share_poster{
    .img-wrapper{
        width: 100%;
        height: 100%;
        position: relative;
        img{
            width: 100%;
            height: 100%;
        }
        .go-btn{
            position: absolute;
            z-index: 1;
            left: calc(50% - 100px);
            top: calc(50% - 80px);
            width: 200px;
            height: 200px;
        }
    }
}
