#bind_register{
    .bind-register{
        margin: $head-height 0 0;
        padding: 0 $view-padding 49px;
        background-color: rgb(255,255,255);
        height: 100%;
        .list{
            position: relative;
            .button{
                position: absolute;
                z-index: 999;
                padding: 0 15px;
                height: 35px;
                font-size: 14px;
                top: 7px;
                right: 10px;
                color: $font-sup-color;
                border-radius: 3px;
                overflow: hidden;
                white-space: nowrap;
                word-break: keep-all;
                text-overflow: ellipsis;
            }
            .item-input{
                margin: 0;
                padding: 8px 0;
                border: none;
                border-bottom: 1px solid $line-main-color;
                .input-label{
                    padding: 7px 0 7px;
                    font-size: 14px;
                    width: 20vw!important;
                    color: #333;
                }
                input{
                    font-size: 16px;
                    color: #333;
                }
                :-moz-placeholder{
                    color: rgb(194,194,194);
                }
                :-ms-input-placeholder{
                    color: rgb(194,194,194);
                }
                ::-moz-placeholder{
                    color: rgb(194,194,194);
                }
                ::-webkit-input-placeholder{
                    color: rgb(194,194,194);
                }
                
            }
        }
        .loginbtn{
           .subbtn{
               width: 100%;
               margin-top:20px ;
               padding: 20px 0 10px;
               .button{
                   display: block;
                   margin: auto;
                   width: 90%;
                   font-size: 16px;
                   background-color: $bg-main-color;
               }
           }
        }
       .expl{
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            text-align: center;
            color: $font-minor-color;
            span{
                color: $bg-main-color;
            }
            i{
                font-size:14px;
                font-style:normal;
                display:inline-block;
                text-align:center;
                line-height:18px;
                color:$font-minor-color;
                vertical-align:middle;
            } 
            input[type="checkbox"] + i {
                border-radius:7px;
            } 
            input[type="checkbox"] {
                display:none;
            } 
            input[type="checkbox"]:checked + span+i {
                color: $bg-main-color;
            } 
            input[type="checkbox"]:checked + i {
                color:$bg-main-color;
            }  
            input[type="checkbox"]:disabled + i {
                // border-color:red;
            }
       }
    }
}
