<!--发现界面模板-->
<ion-view id="registerorback" view-title="注册绑定" hide-nav-bar=true>
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			注册绑定
		</div>
		<div class="right" ></div>
	</div>
		
	<ion-content class="registerorback">
		<form novalidate name="formregister">
			<div class="list">
				<button ng-if="!showCountDown" ng-click="yzcode($event,submitData.Phone)" class="button button-small">获取验证码</button>
				<button ng-if="showCountDown" ng-disabled="true" class="button button-small">{{countDownNum}}s后重新获取</button>
				
				<label class="item item-input">
		          <input class="backphone" ng-model="submitData.Phone" type="tel" name="phone" required="" placeholder="请输入手机号" pattern="^1[0-9]{10}$">
		        </label>
				<label class="item item-input">
		          <input ng-model="submitData.Code" type="text" name="yz" required="" placeholder="请输入验证码">
		       </label>
				<label class="item item-input">
		          <input ng-model="submitData.Password" type="password" name="psw" required="" placeholder="请输入密码(6-16位)" pattern="^.{6,16}$">
		        </label>
			</div>

			<div class="loginbtn">
				<div class="subbtn">
					<button ripple ripple-hold ripple-dark ng-disabled="formregister.$invalid" ng-click="Done()" class="button button-calm">完成</button>
				</div>
			</div>
			<div class="expl">
				<label>
					<input ng-model="registerAgree.agree" type="checkbox" name="ischeckbox" value="true" />
					<i class="iconfont icon-fuxuansel"></i>
					确认接受 
				</label>
				<span ui-sref="agreement">《房田用户试用协议》</span>
			</div>
		</form>

		<div style="width:100%;height:60px;"></div>
	</ion-content>
</ion-view>