<div ng-click="closeauthShareModal()" class="closeicon"><i class="iconfont icon-guanbi1"></i></div>
<ion-content scrollbar-y="false" ng-click="closeauthShareModal()">
    <div class="pub-suc">
        发布成功！
    </div>
    <div class="share-auth">
        <div ng-click="chooseShare()" class="item-in">
            <div class="share out-icon">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-fenxiang-1"></use>
                </svg>
                <!-- <i class="iconfont icon-fenxiang-1"></i> -->
            </div>
            <div class="text">一键转发</div>
        </div>
        <div ng-click="chooseAuth()" class="item-in">
            <div class="auth out-icon">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-renzheng-"></use>
                </svg>
            </div>
            <div class="text">房源认证</div>
        </div>
    </div>
</ion-content>