#vip_protocol{
    .vip-protocol{
        margin-top: $head-height;
        .cur-no{
            text-align: center;
            margin: 20px 0 0;
            font-size: 16px;
            color: $font-sup-color;
        }
    }
}
