<!--模板-->
<ion-view id="group_avatar" view-title="群头像预览"  hide-nav-bar=true>
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			群头像预览
		</div>
		<div ng-click="show()" class="right" >
			更换
		</div>
	</div>
	
	<ion-content class="group-avatar" has-bouncing=false>
		<img ng-src="{{targetInfo.avatar}}" />
		<input style="display: none;" type="file" name="photo"  accept="image/*" autocomplete="off" />
	</ion-content>

</ion-view>