
<ion-view id="buyrent_channel" view-title="买租通道" hide-nav-bar="true">
	<div class="header">
		<div ng-click="back()" class="back">
			<i class="iconfont icon-xiangzuo1"></i> 
		</div>
		<div class="title">
			买租通道
		</div>
		<div class="right"></div>
	</div>
	<div class="head-bg"></div>

	<ion-content class="buyrent-channel">
		<ion-refresher 
            pulling-icon="" 
            pulling-text="" 
            spinner="lines"  
            on-refresh="loadhousetimes()" 
            >
        </ion-refresher>
		<div class="main">
			<div class="enter-partner">
				<div class="in-enter-partner">
					<div class="enter-wrapper">
						<div ui-sref="needTypeChoose({type:1})" class="enter-item">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-tongdao-2"></use>
							</svg>
							<div class="bot-txt">房客求租</div>
						</div>
						<div ui-sref="needTypeChoose({type:0})" class="enter-item">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-tongdao-1"></use>
							</svg>
							<div class="bot-txt">房客求购</div>
						</div>
						<div class="enter-item">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-tongdao-"></use>
							</svg>
							<div class="bot-txt">房源评测</div>
						</div>
					</div>
				</div>
			</div>
			<div class="usertype-choose">
				<span ng-click="toggleUserType()">{{usertypeTetx}}<i class="iconfont icon-qiehuan"></i></span>
			</div>
			<div ng-show="showOwner" class="owner-type">
				<div class="in-owner-type">
					<div ui-sref="tabs.ershouPage({date:2})" class="flex-item">买房</div>
					<div ui-sref="tabs.rentPage({date:2})" class="flex-item">租房</div>
				</div>
			</div>
			<div ng-hide="showOwner" class="owner-type">
				<div class="in-owner-type">
					<div ui-sref="tabs.ershouPage({date:3})" class="flex-item">买房</div>
					<div ui-sref="tabs.rentPage({date:3})" class="flex-item">租房</div>
				</div>
			</div>
			
			<div class="title-line">
				<div class="left-cell">
					<div class="borderline"></div>
				</div>
				<div class="mid-cell">房产行情</div>
				<div class="right-cell">
					<div class="borderline"></div>
				</div>
			</div>
			<div class="case-list-wrapper">
				<div class="case-list">
					<div 
					ui-sref="houseTimes({id:item.Id})"
					ng-repeat="item in housetimesList track by $index"
					class="case-item">
						<div class="left-cell"><img ng-src="{{item.Image}}" alt=""></div>
						
						<div class="right-cell overflow-omit-two">
							{{item.Title}}
						</div>
					</div>
				</div>
			</div>
		</div>
				
	</ion-content>
</ion-view>
