
<!--对话模板-->
<ion-view id="forget_pay_password" hide-nav-bar=true view-title="忘记支付密码">
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			忘记支付密码
		</div>
		<div class="right">
		</div>
	</div>

	<ion-content class="forget-pay-password">
		<div class="main">
			<div class="off-text">
				请重新绑定银行卡以找回密码
			</div>
			<!-- 出售 -->
			<div ng-click="unBind(item)" ng-if="!item.isSafeCard" ng-repeat="item in cardList track by $index" class="card-item">
				{{item.bankName}} 
				<span ng-if="item.cardType==1">储蓄卡</span>
				<span ng-if="item.cardType==2">信用卡</span>&nbsp;
				<span class="color">({{item.bankCardNo | cardNoFilter}})</span>
			</div>

			<div class="off-text">
				绑定新卡找回
			</div>
			<div ui-sref="bindBankCard({isreset:true})" class="card-item">
				添加银行卡
			</div>

		</div>
	</ion-content>
	<div class="contact-service">
		<a href="tel:18950171699">
			联系客服&nbsp;189&nbsp;5017&nbsp;1699
		</a>
	</div>
	
</ion-view>

