<div class="live-contents home" ng-show="liveTabChoosed=='home'">
    <div class="watch-live">
        <img src="imgs/vip/钻石.png" alt="">
    </div>
</div>
<div class="live-contents focus" ng-show="liveTabChoosed=='focus'">
    <ion-content>
        <div class="focus-list">
            <div class="focus-item">
                <div class="owner-info">
                    <div class="owner-img"><img src="http://imgs.wujiuyun.com//Images//logo.png" alt=""></div>
                    <div class="name-time">
                        <div class="name">房田用户</div>
                        <div class="time">刚刚</div>
                    </div>
                </div>
                <div class="preview-item">
                    <img ng-src="http://imgs.wujiuyun.com//staticImage//housesource//房源_banner.jpg" alt="">
                </div>
                <div class="item-title">
                    冰霜特效
                </div>
                <div class="bot-actions">
                    <i class="iconfont icon-xihuan1"></i>&nbsp;590&nbsp;
                    <i class="iconfont icon-pinglun"></i>&nbsp;59&nbsp;
                    <i class="iconfont icon-zhuanfa00"></i>&nbsp;66
                </div>
            </div>
            <div class="focus-item">
                <div class="owner-info">
                    <div class="owner-img"><img src="http://imgs.wujiuyun.com//Images//logo.png" alt=""></div>
                    <div class="name-time">
                        <div class="name">房田用户</div>
                        <div class="time">刚刚</div>
                    </div>
                </div>
                <div class="preview-item">
                    <img ng-src="http://imgs.wujiuyun.com//staticImage//housesource//房源_banner.jpg" alt="">
                </div>
                <div class="item-title">
                    冰霜特效
                </div>
                <div class="bot-actions">
                    <i class="iconfont icon-xihuan1"></i>&nbsp;590&nbsp;
                    <i class="iconfont icon-pinglun"></i>&nbsp;59&nbsp;
                    <i class="iconfont icon-zhuanfa00"></i>&nbsp;66
                </div>
            </div>
            <div class="focus-item">
                <div class="owner-info">
                    <div class="owner-img"><img src="http://imgs.wujiuyun.com//Images//logo.png" alt=""></div>
                    <div class="name-time">
                        <div class="name">房田用户</div>
                        <div class="time">刚刚</div>
                    </div>
                </div>
                <div class="preview-item">
                    <img ng-src="http://imgs.wujiuyun.com//staticImage//housesource//房源_banner.jpg" alt="">
                </div>
                <div class="item-title">
                    冰霜特效
                </div>
                <div class="bot-actions">
                    <i class="iconfont icon-xihuan1"></i>&nbsp;590&nbsp;
                    <i class="iconfont icon-pinglun"></i>&nbsp;59&nbsp;
                    <i class="iconfont icon-zhuanfa00"></i>&nbsp;66
                </div>
            </div>
        </div>
    </ion-content>
</div>
<div class="live-contents" ng-show="liveTabChoosed=='upload'">

</div>
<div class="live-contents mine" ng-show="liveTabChoosed=='mine'">

</div>