
<!--对话模板-->
<ion-view id="publish_article" view-title="发布心情" hide-nav-bar=true>
	<div class="header">
		<div class="back" ng-click="back()">
			取消
		</div>
		<div ng-click="insertImg()" class="title">
			
		</div>
		<div ng-click="showModal()" class="right">
			下一步
		</div>
	</div>

	<!-- quill -->
	<!-- 创建工具栏组件 -->
	<div id="toolbar">
		
	</div>
	<!-- 创建文本编辑器 -->
	<div id="article_editor" >
		
	</div> 
	
	<script id="publish_article_title_modal" type="text/ng-template">
		<ion-modal-view class="publish_article_title_modalview">
			<div class="main-cont">
				<header>
					<div ng-click="closeModal()" class="head-item cancel">返回</div>
					<div ng-click="save()" class="head-item publish">发表</div>
				</header>
				<div class="title-content">
					<h5>添加标题</h5>
					<textarea msd-elastic class="title-tex" ng-model="showInList.title" placeholder="请输入文章标题"></textarea>
				</div>
				<div class="imgs-content">
					<h5>上传封面图片<span>（最多三张）</span></h5>
					<div class="imgs-wrapper">
						<div ng-repeat="item in showInList.imgs track by $index" class="img-item">
							<div class="in-item">
								<img ng-src="{{item}}" alt="">
								<div ng-click="removeImg($index)" class="del-btn"><i class="iconfont icon-guanbi1"></i></div>
							</div>
						</div>
						<div ng-hide="showInList.imgs.length>=3" ng-click="addTitImg()" class="img-item">
							<div class="in-item"><i class="iconfont icon-tianjia"></i></div>
						</div>
					</div>
				</div>
			</div>
		</ion-modal-view>
	</script>
		
</ion-view>

