#transaction_record{
    .transaction-record{
        margin-top: $head-height;
        background-color: $bg-gray-color;
        .main{
            .item-wrap{
                width: 100%;
                .record-item{
                    &:last-child{
                        border: none;
                    }
                    padding: 8px $view-padding;
                    width: 100%;
                    height: 56px;
                    display: flex;
                    justify-content: flex-start;
                    background-color: white;
                    border-bottom: 1px solid $line-main-color;
                    .left-cell{
                        padding: 3px;
                        width: 40px;
                        height: 40px;
                        .icon{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .mid-cell{
                        padding: 0 5px;
                        width: calc(100% - 160px);
                        height: 40px;
                        line-height: 20px;
                        .top-cell{
                            width: 100%;
                            height: 20px;
                            font-size: 16px;
                            color: $font-main-color;
                        }
                        .bot-cell{
                            width: 100%;
                            height: 20px;
                            font-size: 14px;
                            color:  $font-sup-color;
                        }
                    }
                    .right-cell{
                        width: 120px;
                        height: 40px;
                        text-align: right;
                        line-height: 40px;
                        font-size: 20px;
                        color: $font-main-color;
                    }
                }
            }
        }
    }
}
