#daiban_list{
    .fourchoose{
        height: 44px;
        width: 100vw;
        position: absolute;
        z-index: 9999;
        top: 0;
        box-sizing: border-box;
        .fenlei{
            display: block;
            float: left;
            line-height: 44px;
            width: 25vw;
            font-size: 16px;
            text-align:center ;
            color: white;
        }
        .underline{
            position: absolute;
            bottom: 0px;
            left: 7vw;
            width:11vw ;
            height: 0;
            border-bottom: 2px solid rgb(54,153,245);
        }
    }
   
   
    .daiban-list{
        margin-top:45px; 
        background-color:rgba(255,255,255,0);
        .bigbox{
            .box{
                width:100%;
                height:calc(100vh - 80px);
                .traininfo{
                    img{
                        display: block;
                        width: 100%;
                        height: 53vw;
                    }
                    .info{
                        padding: 20px 0 0;
                        width: 100%;
                        height: 150px;
                        .item{
                            background-color: rgba(255,255,255,0);
                            .input-label{
                                color: white;
                            }
                        }
                        .button{
                            display: block;
                            margin:20px auto;
                            width: 50%;
                            height: 35px;
                            text-align: center;
                            line-height: 50px;
                            background-color: $bg-main-color;
                            color: white;
                        }
                    }
                }
                .livelist{
                    width: 100%;
                    ul{
                        width: 100%;
                        li{
                            width: 50%;
                            margin-bottom: 10px;
                            img{
                                display: block;
                                width: 90%;
                                height: 80px;
                                margin: auto;
                            }
                            h6{
                                color: white;
                                width: 90%;
                                margin: 0 auto;
                                height: 20px;
                                line-height: 20px;
                                padding: 0;
                            }
                            .foot{
                                width: 90%;
                                margin: auto;
                                .level{
                                    float: left;
                                    width: 30px;
                                    height: 20px;
                                    border-radius: 5px;
                                }
                                .levelheight{
                                    background-color: gold;
                                }
                                .levellow{
                                    background-color: aquamarine;
                                }
                                .comment{
                                    color: white;
                                    float: left;
                                    width: calc(50% - 15px);
                                    height: 20px;
                                    text-align: center;
                                    line-height: 20px;
                                }
                                .count{
                                    color: white;
                                    float: left;
                                    width: calc(50% - 15px);
                                    height: 20px;
                                    text-align: center;
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }
                .videolist{
                    width: 100%;
                    ul{
                        width: 100%;
                        li{
                            width: 50%;
                            margin-bottom: 10px;
                            img{
                                display: block;
                                width: 90%;
                                height: 80px;
                                margin: auto;
                            }
                            h6{
                                width: 90%;
                                margin: 0 auto;
                                height: 20px;
                                line-height: 20px;
                                padding: 0;
                                color: white;
                            }
                            .foot{
                                width: 90%;
                                margin: auto;
                                .level{
                                    float: left;
                                    width: 30px;
                                    height: 20px;
                                    border-radius: 5px;
                                }
                                .levelheight{
                                    background-color: gold;
                                }
                                .levellow{
                                    background-color: aquamarine;
                                }
                                .comment{
                                    color: white;
                                    float: left;
                                    width: calc(50% - 15px);
                                    height: 20px;
                                    text-align: center;
                                    line-height: 20px;
                                }
                                .count{
                                    color: white;
                                    float: left;
                                    width: calc(50% - 15px);
                                    height: 20px;
                                    text-align: center;
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .video{
        .bannerposition{
            margin-bottom: 15px;
            .box{
                img{
                    display: block;
                    width: 100%; 
                }
            }
        }
        .videolist{
            width: 100%;
            ul{
                width: 100%;
                li{
                    width: 50%;
                    margin-bottom: 10px;
                    img{
                        display: block;
                        width: 90%;
                        height: 80px;
                        margin: auto;
                    }
                    h6{
                        width: 90%;
                        margin: 0 auto;
                        height: 20px;
                        line-height: 20px;
                        padding: 0;
                    }
                    .foot{
                        width: 90%;
                        margin: auto;
                        .level{
                            float: left;
                            width: 30px;
                            height: 20px;
                            border-radius: 5px;
                        }
                        .levelheight{
                            background-color: gold;
                        }
                        .levellow{
                            background-color: aquamarine;
                        }
                        .comment{
                            float: left;
                            width: calc(50% - 15px);
                            height: 20px;
                            text-align: center;
                            line-height: 20px;
                        }
                        .count{
                            float: left;
                            width: calc(50% - 15px);
                            height: 20px;
                            text-align: center;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
    .live{
        .bannerposition{
            margin-bottom: 15px;
            .box{
                img{
                    display: block;
                    width: 100%; 
                }
            }
        }
        .livelist{
            width: 100%;
            ul{
                width: 100%;
                li{
                    width: 50%;
                    margin-bottom: 10px;
                    img{
                        display: block;
                        width: 90%;
                        height: 80px;
                        margin: auto;
                    }
                    h6{
                        width: 90%;
                        margin: 0 auto;
                        height: 20px;
                        line-height: 20px;
                        padding: 0;
                    }
                    .foot{
                        width: 90%;
                        margin: auto;
                        .level{
                            float: left;
                            width: 30px;
                            height: 20px;
                            border-radius: 5px;
                        }
                        .levelheight{
                            background-color: gold;
                        }
                        .levellow{
                            background-color: aquamarine;
                        }
                        .comment{
                            float: left;
                            width: calc(50% - 15px);
                            height: 20px;
                            text-align: center;
                            line-height: 20px;
                        }
                        .count{
                            float: left;
                            width: calc(50% - 15px);
                            height: 20px;
                            text-align: center;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
    .train{
        img{
            display: block;
            width: 100%;
        }
        p.bothLine{
            margin: 0;
            padding: 15px 12px 15px;
            background-color: rgb(246,246,246);
            span {
                text-align: center;
                display: block;     /*设置为块级元素会独占一行形成上下居中的效果*/
                font-size: 14px;
                color: #969696;
                position: relative;   /*定位横线（当横线的父元素）*/
            }
            span:before{
                content: '';                 /*CSS伪类用法*/
                position: absolute;         /*定位背景横线的位置*/
                top: 52%;
                background: #e6e6e6;       /*宽和高做出来的背景横线*/
                width: 28%;
                height: 1px;
            }
            span:after {
                content: '';                 /*CSS伪类用法*/
                position: absolute;         /*定位背景横线的位置*/
                top: 52%;
                background: #e6e6e6;       /*宽和高做出来的背景横线*/
                width: 28%;
                height: 1px;
            }
            span:before{
                left: 0;        /*调整背景横线的左右距离*/
            }
            span:after {
                right: 0;
            }
        }
        .info{

        }
        .button{
            display: block;
            width: 50%;
            margin: 15px auto 0;
            background-color: rgb(8,21,53);
        }
    }
}
