
.publish-dynamic-typechoose-modalview{
    min-height: 80px;
    width: 180px;
    left: calc(50% - 90px);
    top: calc(50% - 40px);
    border-radius: 5px;
    .choose-type{
        width: 100%;
        .type-item{
            &:nth-child(1){
                border-bottom: 1px solid $line-main-color;
            }
            width: 100%;
            height: 40px;
            font-size: 16px;
            text-align: center;
            line-height: 40px;
        }
    }
}
#publish_dynamic{
    .header{
        background-color: $bg-black-color;
    }
    .publish-dynamic{
        padding: 0;
        margin: $head-height 0 0;
        .text-wrapper{
            padding: 10px 20px;
            textarea{
                width: 100%;
                height: 120px;
                font-size: 16px;
                line-height: 20px;
            }
        }
        .flex-wrapper{
            padding: 10px $view-padding;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .flex-item{
                position: relative;
                margin: 0 4px 4px 0;
                width: calc(25vw - 9px);
                height: calc(25vw - 9px);
                &:nth-child(4n){
                    margin: 0 0 4px 0;
                }
                &.add-item{
                    text-align: center;
                    line-height: calc(25vw - 9px);
                    color: $font-sup-color;
                    background-color: $bg-gray-color;
                    .iconfont{
                        font-size: 30px;
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                }
                .del-btn{
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    z-index: 1;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    font-size: 14px;
                    border-radius: 50%;
                    color: white;
                    background-color: $bg-main-color;
                }
            }
        }
    }
}
