<!--对话模板-->
<ion-view id="my_houses" hide-nav-bar=true view-title="我的房源"  class='dark'>
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			我的房源
		</div>
		<div ng-click="openPopover($event)"  class="right">
			发布
		</div>
		<!-- <div ng-show="activeIndex==1" ui-sref="fbTypeChoose({type:1})" class="right">
			发布
		</div> -->
    </div>
    
    
	<div class="switch-list row">
        <div 
            ng-click="switchFilterIndex(0)" 
            ng-class="{true:'active',false:''}[filterActiveIndex==0 || queryData.query.length>0]" 
            class="switch-item col-25">
			<div class="item-in overflow-omit-one">{{queryTextData.query || '区域'}}<i class="iconfont icon--pulldown"></i></div>
		</div>
        <div 
            ng-click="switchFilterIndex(1)" 
            ng-class="{true:'active',false:''}[filterActiveIndex==1 || queryData.type != -1]" 
            class="switch-item col-25">
			<div class="item-in overflow-omit-one">{{queryTextData.type || '分类'}}<i class="iconfont icon--pulldown"></i></div>
		</div>
        <div 
            ng-click="switchFilterIndex(2)" 
            ng-class="{true:'active',false:''}[filterActiveIndex==2 || queryData.date != 0]" 
            class="switch-item col-25">
			<div class="item-in overflow-omit-one">{{queryTextData.date || '时间'}}<i class="iconfont icon--pulldown"></i></div>
		</div>
        <div 
            ng-click="switchFilterIndex(3)" 
            ng-class="{true:'active',false:''}[filterActiveIndex==3 || queryData.antype!=-1]" 
            class="switch-item col-25">
			<div class="item-in overflow-omit-one">{{queryTextData.antype || '状态'}}<i class="iconfont icon--pulldown"></i></div>
		</div>
	</div>

    <div ng-show="filterActiveIndex==0" class="filter-content">
        <ion-content scrollbar-y="false">
            <ion-list>
                <ion-item 
                    ng-click="chooseDistrict(key,value)" 
                    ng-repeat="(key,value) in filterData.utilsDistricts track by $index">
                    {{key}}
                </ion-item>
            </ion-list>
        </ion-content>
        <div class="child-content">
            <ion-content delegate-handle="myhouse-filter-street-scroll" scrollbar-y="false">
                <ion-list>
                    <ion-item 
                        ng-click="chooseStreet(street)" 
                        ng-repeat="street in streetList track by $index">
                        {{street}}
                    </ion-item>
                </ion-list>
            </ion-content>
        </div>
    </div>
    
    <div ng-show="filterActiveIndex==1" class="filter-content">
        <ion-content scrollbar-y="false">
            <ion-list>
                <ion-item ng-click="chooseType(type)" ng-repeat="type in filterData.typeList">
                    {{type.text}}
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
    <div ng-show="filterActiveIndex==2" class="filter-content">
        <ion-content scrollbar-y="false">
            <ion-list>
                <ion-item ng-click="chooseDate(time)" ng-repeat="time in filterData.timeList">
                    {{time.text}}
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
    <div ng-show="filterActiveIndex==3" class="filter-content">
        <ion-content scrollbar-y="false">
            <ion-list>
                <ion-item ng-click="chooseStatus(status)" ng-repeat="status in filterData.statusList">
                    {{status.text}}
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
    <div ng-show="filterActiveIndex==0 || filterActiveIndex>0" ng-click="closeFilter()" class="filter-mask"></div>
	

	<ion-content class="my-houses" delegate-handle="myhouse-list-scroll">
		<!--下拉刷新-->
		<ion-refresher pulling-icon="" spinner="lines"   on-refresh="loadRefresh(false)"></ion-refresher>
		<div class="main">
            <ion-list delegate-handle ="myhouse-sellhouse-handle">
                <ion-item 
                    ng-click="detailSref(sellhouse)"
                    ng-repeat="sellhouse in myhouseList track by $index" 
                    class="item"
                >
                <!-- 二手房 -->
                    <div 
                        ng-show="sellhouse.Type==1"
                        class="house-list-item"
                        ripple-hold ripple-dark
                    >
                        <div ng-click="editSref($event,sellhouse)" class="edit-btn">编辑<i class="iconfont icon-xiangyou1"></i></div>
                        <div class="left-img"><img ng-src="{{sellhouse.Thumb}}" alt=""></div>
                        <div class="right-text">
                            <div class="title overflow-omit-one">{{sellhouse.Title}}</div>
                            <div class="br-price-type overflow-omit-one">
                                <span class="spanprice">
                                    <span class="large">{{sellhouse.Price}}</span>万
                                </span>
                                <span class="span-gray">&nbsp;|&nbsp;{{sellhouse.HouseType}}</span>
                                <span class="span-gray">&nbsp;|&nbsp;{{sellhouse.Space}}m²</span>
                            </div>
                            <div class="info overflow-omit-one">
                                <span class="span-gray"><i class="iconfont icon-dingwei"></i>{{sellhouse.CommunityName}} | 二手房</span>
                            </div>
                            <div class="by-tags overflow-omit-one">
                                <span class="tag-item" ng-repeat="tag in sellhouse.Tags track by $index">{{tag}}</span>
                            </div>
                        </div>
                    </div>
                <!-- 租房 -->
                <div 
                    ng-show="sellhouse.Type==2"
                    ripple-hold ripple-dark
                    class="house-list-item"
                >
                    <div ng-click="editSref($event,sellhouse)" class="edit-btn">编辑<i class="iconfont icon-xiangyou1"></i></div>
                    <div class="left-img"><img ng-src="{{sellhouse.Thumb}}" alt=""></div>
                    <div class="right-text">
                        <div class="title overflow-omit-one">{{sellhouse.Title}}</div>
                        <div class="br-price-type overflow-omit-one">
                            <span class="spanprice">
                                <span class="large">{{sellhouse.Price}}</span>元/月
                            </span>
                            <span class="span-gray">&nbsp;|&nbsp;{{sellhouse.HouseType}}</span>
                            <span class="span-gray">&nbsp;|&nbsp;{{sellhouse.Space}}m²</span>
                        </div>
                        <div class="info overflow-omit-one">
                            <span class="span-gray"><i class="iconfont icon-dingwei"></i>{{sellhouse.CommunityName}} | 租房</span>
                        </div>
                        <div class="by-tags overflow-omit-one">
                            <span class="tag-item" ng-repeat="tag in sellhouse.Tags track by $index">{{tag}}</span>
                        </div>
                    </div>
                </div>
                <!-- 商铺 -->
                    <div 
                        ng-show="sellhouse.HouseType=='Shop'"
                        ripple-hold ripple-dark
                        class="house-list-item"
                    >
                        <div ng-click="editSref($event,sellhouse)" class="edit-btn">编辑<i class="iconfont icon-xiangyou1"></i></div>
                        <div class="left-img">
                            <img ng-src="{{sellhouse.Thumb}}" alt="">
                            <span ng-if="sellhouse.Behaviour==1" class="sell-tag">出售</span>
                            <span ng-if="sellhouse.Behaviour==2" class="sell-tag">出租</span>
                        </div>
                        <div class="right-text">
                            <div class="title overflow-omit-one">{{sellhouse.Title}}</div>
                            <div class="br-price-type overflow-omit-one">
                                <span class="spanprice">
                                    <span class="large">{{sellhouse.Price}}</span>
                                    <span ng-if="sellhouse.Behaviour==1">万</span><span ng-if="sellhouse.Behaviour==2">元/月</span>
                                </span>
                                <span class="span-gray">&nbsp;|&nbsp;{{sellhouse.HouseType}}</span>
                                <span class="span-gray">&nbsp;|&nbsp;{{sellhouse.Space}}m²</span>
                            </div>
                            <div class="info overflow-omit-one">
                                <span class="span-gray"><i class="iconfont icon-dingwei"></i>{{sellhouse.CommunityName}} | 商铺</span>
                            </div>
                            <div class="by-tags overflow-omit-one">
                                <span class="tag-item" ng-repeat="tag in sellhouse.Tags track by $index">{{tag}}</span>
                            </div>
                        </div>
                    </div>
                <!-- 写字楼 -->
                <div 
                    ng-show="sellhouse.HouseType=='Office'"
                    ripple-hold ripple-dark
                    class="house-list-item"
                >
                    <div ng-click="editSref($event,sellhouse)" class="edit-btn">编辑<i class="iconfont icon-xiangyou1"></i></div>
                    <div class="left-img">
                        <img ng-src="{{sellhouse.Thumb}}" alt="">
                        <span ng-if="sellhouse.Behaviour==1" class="sell-tag">出售</span>
                        <span ng-if="sellhouse.Behaviour==2" class="sell-tag">出租</span>
                    </div>
                    <div class="right-text">
                        <div class="title overflow-omit-one">{{sellhouse.Title}}</div>
                        <div class="br-price-type overflow-omit-one">
                            <span class="spanprice">
                                <span class="large">{{sellhouse.Price}}</span>
                                <span ng-if="sellhouse.Behaviour==1">万</span><span ng-if="sellhouse.Behaviour==2">元/月</span>
                            </span>
                            <span class="span-gray">&nbsp;|&nbsp;{{sellhouse.HouseType}}</span>
                            <span class="span-gray">&nbsp;|&nbsp;{{sellhouse.Space}}m²</span>
                        </div>
                        <div class="info overflow-omit-one">
                            <span class="span-gray"><i class="iconfont icon-dingwei"></i>{{sellhouse.CommunityName}} | 写字楼</span>
                        </div>
                        <div class="by-tags overflow-omit-one">
                            <span class="tag-item" ng-repeat="tag in sellhouse.Tags track by $index">{{tag}}</span>
                        </div>
                    </div>
                </div> 
                    <ion-option-button 
                        ng-hide="hide"
                        class="button-assertive"
                        ng-click="deleteSellHouse(sellhouse,$index)">
                        删除
                    </ion-option-button>
                </ion-item>
            </ion-list> 
			<p  class="baseLine"><span>人家是有底线的啦</span></p>
        </div>
		<ion-infinite-scroll spinner="lines" on-infinite="loadMore(true)" distance="15%" ng-if="haveMore" > </ion-infinite-scroll>
    </ion-content>	
    
    <script id="my_house_popover.html" type="text/ng-template">
		<ion-popover-view class="my-house-popover-view">
			<ion-list ng-click="closePopover()">
				<ion-item ui-sref="fbTypeChoose({type:0})">
					出售
				</ion-item>
				<ion-item ui-sref="fbTypeChoose({type:1})">
					出租		
				</ion-item>
            </ion-list>
		</ion-popover-view>
	</script>
</ion-view>

