#bg_img_cut{
    .bg-img-cut{
        .card{
            box-shadow: none;
            padding-top: 150px;
            .img{
                width: 100%;
                height: 49vw;
                img{
                    width: 100%;
                    height: 49vw;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}
