<!--模板-->
<ion-view id="bg_img_cut" view-title="头像裁剪" hide-nav-bar=true class='dark'>
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			图片裁剪
		</div>
		<div ng-click="save()" class="right" >
			使用
		</div>
	</div>

	<ion-content class="bg-img-cut" has-bouncing=false>
		<!--<img src="{{imgurl}}" />-->
		<div class="card">
			<div class="img">
				<img class="square" ng-src="{{view}}"/>
			</div>
		</div>
	</ion-content>

</ion-view>