
<!--对话模板-->
<ion-view id="red_packet" view-title="红包" hide-nav-bar=true>
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			红包
		</div>
		<div class="right" >
		</div>
	</div>
	<ion-content class="red-packet">
		<form novalidate name="subtopup">
			<div class="data-list">
				<div class="data-item">
					<div class="left-cell">单个金额</div>
					<div class="input-cell">
						<input type="number" name="money" ng-model="subData.money" placeholder="请输入红包金额" required="">
					</div>
					<div class="right-cell">元</div>
				</div>
				<div class="data-item">
					<div class="left-cell">留言</div>
					<div class="input-cell input-large">
						<input type="text" name="money" ng-model="subData.message" placeholder="恭喜发财,大吉大利">
					</div>
				</div>
			</div>
			
			<div class="show-money">￥<span>{{subData.money || 0.00}}</span></div>
			<div class="subbtn">
				<button ng-disabled="subtopup.$invalid || subData.money<=0" ng-click="nextStep()" class="button">塞钱进红包</button>
			</div>
		</form>

	</ion-content>
	
	<script id="read_packer_password_modal" type="text/ng-template">
		<ion-modal-view class="read-packer-password-modalview">
			<div class="head">
				<div ng-click="closeModal()" class="close"><i class="iconfont icon-guanbi1"></i></div>
				<div class="thumb"><img ng-src="{{myselfInfo.ShowImage}}" alt=""></div>
				<div class="text-item">请输入支付密码</div>
			</div>
			<div class="head-borderline"></div>
			<div class="main-info">
				<div class="money-num">
					<div class="text-item">红包</div>
					<div class="money-item">￥{{subData.money}}</div>
				</div>
				<div class="consume-from">
					<div style="width:calc(50% - 30px);" class="be-left"></div>
					<div class="icon-wrapper">
						<img src="imgs/pwdicon/money.png" alt="">
					</div>
					<div class="text-wrap">
						零钱
					</div>
				</div>
				<div class="six-pwd-input">
					<input type="tel" ng-model="pwdInput.value" ng-change="inputPwd()" name="password" class="password" maxlength="6">
					<ul class="showView">
						<li><i class="circle"></i></li>
						<li><i class="circle"></i></li>
						<li><i class="circle"></i></li>
						<li><i class="circle"></i></li>
						<li><i class="circle"></i></li>
						<li><i class="circle"></i></li>
					</ul>
				</div>
				<div style="clear:both;"></div>
				<div ui-sref="forgetPayPassword" class="forget-pwd">忘记密码</div>
			</div>
		</ion-modal-view>
	</script>
</ion-view>

