
<!--对话模板-->
<ion-view id="usage_rules" hide-nav-bar=true view-title="使用规则">
	
	<div class="header">
		<div class="back" ng-click="back()">
			<i class="iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			使用规则
		</div>
		<div class="right">
			
		</div>
	</div>
	

	<ion-content class="usage-rules">
		<!-- <img style="width:100%;" src="imgs/recommend/邀请5.png" alt="美女" usemap="#MM" width="256" height="">
		<map id="MM" name="MM">
			<area ng-click="clickArea()" style="background-color:red;" shape="rect" coords="200,200,300,300" alt="矩形">
		</map> -->
	</ion-content>
	
	
</ion-view>

