#new_house_page{
    .search-header{
        background-color: rgba(0,0,0,0);     
    }
   .new-house-page{
        margin: $head-height 0 0;
        padding: 0;
        .icon-refreshing{
            ion-spinner * {
                width: 28px;
                height: 28px;
                stroke: #fff;
                fill: #f00;
            }
        }
        .main-content{
            background-color: white;
        }
        .under-head{
            width: 100%;
            height: auto;
            padding: 15px 0;
            .newhouse-page-swiper-container{
                width: 100%;
                height: 70px;
                overflow: hidden;
                font-size: 16px;
                background-color: white;
                .swiper-wrapper{
                    .swiper-slide {
                        padding: 0;
                        width: 20vw;
                        height: 70px;
                        text-align: center;
                        .top-icon{
                            padding: 0 3px;
                            position: relative;
                            .icon{
                                width: 44px;
                                height: 44px;
                            }
                            .abs-icon{
                                position: absolute;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                z-index: 1;
                            }
                        }
                        .bot-txt{
                            line-height: 16px;
                            font-size: 12px;
                            color: $font-main-color;
                        }
                    }
                }
            }
            .fix-wrapper{
                padding: 16px 0 25px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 100%;
                background-color: white;
                .fix-item{
                    position: relative;
                    padding: 0;
                    width: 50px;
                    .top-icon{
                        padding: 0 3px;
                        position: relative;
                        .icon{
                            width: 44px;
                            height: 44px;
                        }
                        .abs-icon{
                            position: absolute;
                            top: 0;
                            left: 3px;
                            z-index: 1;
                        }
                    }
                    .bot-txt{
                        line-height: 14px;
                        font-size: 12px;
                        color: $font-main-color;
                    }
                } 
            }  
        }


        .hot-list{
            width: 100%;
            padding: 0 $view-padding;
            h5{
                margin: 0;
                padding: 0;
                height: 40px;
                line-height: 40px;
                color: $font-deep-color;
                font-size: 16px;
                font-weight: 500;
            }
            .switch-list-wrapper{
                .switch-list{
                    width: 100%;
                    height: 40px;
                    padding: 5px 0;
                    display: flex;
                    justify-content: space-between;
                    background-color: rgb(240,244,247);
                    .switch-item{
                        width: calc(33.33% - 2px);
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        color: $font-sup-color;
                        font-size: 16px;
                        background-color: white;
                    }
                    .active{
                        color: $font-price-red;
                    }
                }
            }
            .hot-list-wrapper{
                width: 100%;
                .hot-list-item{
                    padding: 10px 0;
                    width: 100%;
                    height: 60px;
                    display: flex;
                    justify-content: flex-start;
                    border-bottom:1px solid $line-main-color; 
                    .left-icon{
                       width: 20px;
                       height: 40px;
                       line-height: 40px;
                    //    font-family: 'Helvetica-BoldOblique';
                       font-size: 22px;
                       color: $font-price-red; 
                    //    font-style: italic;
                       .icon{
                           margin: 10px 0;
                           width: 20px;
                           height: 20px;
                       }
                    }
                    .left-gray{
                        color: $font-sup-color;
                    }
                    .mid-text{
                        padding: 0 0 0 10px;
                        width: calc(100% - 80px);
                        height: 40px;
                        .onerow{
                            width: 100%;
                            height: 20px;
                            line-height: 20px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            word-break: keep-all;
                        }
                        .name{
                            font-size: 16px;
                            color: rgb(0,0,0);
                            .tag{
                                margin: 0 0 0 5px;
                                padding: 2px 5px;
                                font-size: 14px;
                                border-radius: 3px;
                                color: rgb(255,137,117);
                                background-color: rgb(255,237,235);
                            }
                        }
                        .info{
                            font-size: 14px;
                            color: $font-sup-color;
                        }
                    }
                    .right-state{
                        width: 60px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        font-size: 14px;
                        color: rgb(253,208,0);
                    }
                    .right-up{
                        color: $font-price-red;
                    }
                    .right-down{
                        color: $font-sup-color;
                    }
                }
                .hot-list-item:last-child(){
                    border: none;
                }
            }
            
        }


        .main{
            padding: 10px $view-padding 0;
            h5{
                margin: 0;
                padding: 0;
                height: 30px;
                line-height: 30px;
                color: $font-deep-color;
                font-size: 16px;
                font-weight: 500;
            }
            
            .look-more{
                width: 100%;
                height: 40px;
                text-align: center;
                line-height: 40px;
                font-size: 16px;
                color: rgb(117,124,137);
            }
        }
        
    }
}
