
<!--对话模板-->
<ion-view id="my_home_page" hide-nav-bar=true  view-title="个人资料" class='dark'>
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1" style="font-size: 25px!important;"></i>
		</div>
		<div class="title">
			个人资料
		</div>
		<div ui-sref="editMyHomePage" class="right">
			<i class="iconfont icon-bianjibi"></i>
		</div>
	</div>

	<ion-content class="my-home-page">
		<div class="head-info-wrapper">
			<div class="head-info">
				<div class="left-img">
					<div class="img">
						<img ng-src="{{myInfo.ShowImage}}" alt="">
						
						<!-- <div ng-if="!myInfo.Role" class="level-img">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-qingtong-"></use>
							</svg>
						</div>
						<div ng-if="myInfo.Role=='白银'" class="level-img">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-baiyin-"></use>
							</svg>
						</div>
						<div ng-if="myInfo.Role=='黄金'" class="level-img">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-huangjin-"></use>
							</svg>
						</div>
						<div ng-if="myInfo.Role=='铂金'" class="level-img">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-baijin-"></use>
							</svg>
						</div>
						<div ng-if="myInfo.Role=='钻石'" class="level-img">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-zuanshi-"></use>
							</svg>
						</div>
						<div ng-if="myInfo.Role=='股东'" class="level-img">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-gudong-"></use>
							</svg>
						</div> -->
					</div>
					<div class="user-name overflow-omit-one">{{myInfo.Name}}</div>
				</div>
	
				<div class="right-text">
					<div class="erweima-wrapper">
						<div ui-sref="myInfoQrcode" class="erweima">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-erweima"></use>
							</svg>
						</div>
					</div>
					<div class="text-item overflow-omit-one">
						<span ng-if="myInfo.IsShowPhone">电话：{{myInfo.UserName}}</span>
						<span ng-if="!myInfo.IsShowPhone">电话：不可见</span>
					</div>
					<div class="text-item overflow-omit-one">
						<span ng-if="myInfo.ShowConfig.showMySex">性别：{{myInfo.Sex}}</span>
						<span ng-if="!myInfo.ShowConfig.showMySex">性别：不可见</span>
					</div>
					<div class="text-item overflow-omit-one">
						<span ng-if="myInfo.ShowConfig.showMyJob">职业：{{myInfo.Job}}</span>
						<span ng-if="!myInfo.ShowConfig.showMyJob">职业：不可见</span>
					</div>
					<div class="text-item overflow-omit-one">
						<span ng-if="myInfo.ShowConfig.showMyChoosePrefer">选房偏好：{{myInfo.HouseHobby}}</span>
						<span ng-if="!myInfo.ShowConfig.showMyChoosePrefer">选房偏好：不可见</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="offline"></div>

		<div class="owner-to-him-wrapper">
			<div ui-sref="personalHouse({id:myInfo.Id})" ng-if="myInfo.ShowConfig.showMyHouse" class="owner-to-him">
				<div class="owner-name">我的房源</div>
				<div class="owner-num overflow-omit-one"></div>
			</div>
			<div ui-sref="personalNeed({id:myInfo.Id})" ng-if="myInfo.ShowConfig.showMyNeed" class="owner-to-him">
				<div class="owner-name">我的需求</div>
				<div class="owner-num overflow-omit-one"></div>
			</div>
			<div ng-if="myInfo.ShowConfig.showMyEvaluation" class="owner-to-him">
				<div class="owner-name">我的评测</div>
				<div class="owner-num overflow-omit-one"></div>
			</div>
			<div ng-if="myInfo.ShowConfig.showMyRecruitment" class="owner-to-him">
				<div class="owner-name">我的招聘/应聘</div>
				<div class="owner-num overflow-omit-one"></div>
			</div>
			<div ng-if="myInfo.ShowConfig.showMyShop" class="owner-to-him">
				<div class="owner-name">我的店铺</div>
				<div class="owner-num overflow-omit-one"></div>
			</div>
			<div ng-if="myInfo.ShowConfig.showMyTask" class="owner-to-him">
				<div class="owner-name">我的任务</div>
				<div class="owner-num overflow-omit-one"></div>
			</div>
		</div>
	</ion-content>			
</ion-view>

