<ion-view id="upload_videos" view-title="发布视频" hide-nav-bar=true>
	<div class="header header-black">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			发布视频
		</div>
		<div class="right">		
			<span ng-show="!showAction">操作</span>	
			<span ng-show="showAction">取消</span>	
		</div>
	</div>

	<ion-content class="upload-videos" has-bouncing="false">
		<!-- 视频预览上传 -->
		<div ng-show="videoFileObj" class="video-wait">
			<p>视频预览</p>
			<div class="content-wrapper">
				<div>
					<video
						onloadeddata="angular.element(this).scope().onLoadedData()" 
						id="preview_upload_video" 
						ng-attr-poster="{{subVideoData.image}}"
						style="width: 100px;">
					</video>
				</div>
				<!-- <div ng-show="subVideoData.video && !subVideoData.image" ng-click="uploadShoot()" class="action-btn publish">上传截图</div> -->
				<!-- <div ng-show="subVideoData.video && subVideoData.image" ng-click="publishVideo()" class="action-btn publish">发布</div> -->
				<div ng-show="subVideoData.video" ng-click="publishVideo()" class="action-btn publish">发布</div>
				<div ng-show="videoFileObj || subVideoData.video" ng-click="cancelVideo()" class="action-btn cancel">取消</div>
			</div>
			<input
				id="upload_video_add_input" 
				type="file" 
				accept="video/mp4,video/*" 
				style="display: none;"
				onchange="angular.element(this).scope().onFileChange(this.files)" >		
		</div>

		
		
		<!-- 视频 -->
		<div class="offline"></div>
		<div class="flex-wrapper">
			<div ng-click="videoChoose()" class="flex-item add-item">
				<i class="iconfont icon-tianjia"></i>
			</div>
			<div ui-sref="dialogVideoPlayer({url:item.Content.video,image:item.Content.image})" ng-repeat="item in showVideoList track by $index" class="flex-item">
				<div ng-class="{true:'headShake',false:''}[showAction]" class="animated infinite">
					<div class="in-flex-item" ng-style="{'background-image': 'url('+item.Content.image+')'}"></div>
					<div class="fake-video"><i class="iconfont icon-shipin11"></i></div>
				</div>
				<div ng-show="showAction" ng-click="removeVideo($index,item,$event,30)" class="del-btn"><i class="iconfont icon-guanbi1"></i></div>
			</div>
		</div>

		<div class="type-title">选择分类</div>
		<div class="type-list">
			<div 
				ng-click="changeType(item.value)"
				ng-repeat="item in typeList track by $index" 
				ng-class="{true:'active',false:''}[item.value==typeChoosed]"
				class="type-item">
				{{item.text}}
			</div>
		</div>
	</ion-content>

</ion-view>

