<div id="tab_nav" class="tabNav">
    <ul class="nohouse">
        <li ng-class="{true:'active',false:''}[tabActiveName=='firstTab']" ui-sref="tabs.realHome">
            <div class="img">
                <i class="iconfont icon--1"></i>
            </div>
            <p>首页</p>
        </li>
        <li ng-class="{true:'active',false:''}[tabActiveName=='secondTab']"  ui-sref="tabs.linkMan">
            <div class="img">
                <i class="iconfont icon--2"></i>
            </div>
            <p>联系人</p>
            <div ng-if="0<sysMsgCount&&sysMsgCount<99" class="unread-count">{{sysMsgCount}}</div>
            <div ng-if="sysMsgCount>99" class="unread-count">99+</div>
        </li>
        <!-- <li ng-class="{true:'active',false:''}[tabActiveName=='thirdTab']"  class="mid" ng-click="showModal()">
            <div class="img">
                <i class="iconfont icon--"></i>
            </div>
            <p>发布</p>
        </li> -->
        <!-- <li ng-class="{true:'active',false:''}[tabActiveName=='thirdTab']"  ui-sref="tabs.quanzi">
            <div class="img">
                <i class="iconfont icon-quanzi-1"></i>
            </div>
            <p>圈子</p>
        </li> -->
        <li ng-class="{true:'active',false:''}[tabActiveName=='forthTab']" ui-sref="tabs.chatList">
            <div class="img">
                <i class="iconfont icon--3"></i>
            </div>
            <p>消息</p>
            <div ng-if="0<totalUnread&&totalUnread<99" class="unread-count">{{totalUnread}}</div>
            <div ng-if="totalUnread>99" class="unread-count">99+</div>
        </li>
        <li ng-class="{true:'active',false:''}[tabActiveName=='fifthTab']" ui-sref="tabs.perCenter">
            <div class="img">
                <i class="iconfont icon--4"></i>
            </div>
            <p>我的</p>
        </li>
    </ul>
</div>