<!-- <ion-modal-view ng-click="closeModal()" id="home_nav_modalview"> -->
    <div class="ul-list">
        <ul>
            <li ui-sref="fbTypeChoose({type:0})" class="animated bounceInUp one">
                <div class="chushou"><i class="iconfont icon-chushou-1"></i></div>	
                <p>出售</p>
            </li>
            <li ui-sref="fbTypeChoose({type:1})" class="animated bounceInUp two">
                <div class="chuzu"><i class="iconfont icon-chuzu-1"></i></div>
                <p>出租</p>
            </li>
            <li ui-sref="addBuyNeed" class="animated bounceInUp three">
                <div class="qiugou"><i class="iconfont icon-qiugou-1"></i></div>
                <p>求购</p>
            </li>
            <li ui-sref="addRentNeed" class="animated bounceInUp four">
                <div class="qiuzu"><i class="iconfont icon-qiuzu-2"></i></div>
                <p>求租</p>
            </li>
        </ul>
    </div>
    <div class="close-wrapper">
        <div class="close">
            <i class="iconfont icon-y"></i>
        </div>
    </div>
<!-- </ion-modal-view> -->
