.del-home-tl-popoverview{
    width: 250px;
    height: 80px;
    border-radius: 5px!important;
    .del-content{
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        color: $font-main-color;
        .del-title{
            width: 100%;
            height: 40px;
            border-bottom: 1px solid $line-deep-color;
        }
        .del-actions{
            display: flex;
            justify-content: flex-start;
            .del-action{
                width: 50%;
                &.cancel{
                    border-right: 1px solid $line-deep-color;
                }
            }
        }
    }
}
#real_home{
    $view-padding:9px;
    $font-blue-color:rgb(76,160,255);
    .search-header{
        background-color: rgba(255,255,255,0);
        .back{
            padding: 0;
            width: 50px;
            text-align: center;
            font-size: 12px;
            .top-cell{
                height: 22px;
                line-height: 22px;
                .iconfont{
                    font-size: 18px;
                }
            }
            .bot-cell{
                line-height: 14px;
                font-size: 10px;
            }
        }
        .right{
            padding: 0;
            width: 50px;
            color: white;
            .in-right{
                // width: 30px;
                // float: right;
                font-size: 12px;
                text-align: center;
                .top-cell{
                    height: 22px;
                    line-height: 22px;
                    .iconfont{
                        font-size: 18px;
                    }
                }
                .bot-cell{
                    line-height: 14px;
                    font-size: 10px;
                }
            }
        }
        .title{
            padding: 0 $view-padding;
            width: calc(100% - 80px);
            .fake-input{
                padding: 7px 0;
                margin: auto;
                width: 100%;
                height: 34px;
                border-radius: 17px;
                background-color: white;
                display: flex;
                justify-content: flex-start;
                .fake-adr{
                    padding: 0 5px;
                    width: 70px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    color: $font-minor-color;
                    font-size: 14px;
                    border-right: 1px solid $line-main-color;
                    .iconfont{
                        font-size: 14px;
                    }
                }
                .fake-search{
                    padding: 0;
                    width: calc(100% - 70px);
                    height: 20px;
                    text-align: left;
                    line-height: 20px;
                    color: $font-minor-color;
                    font-size: 14px;
                    // letter-spacing:4px;
                    .iconfont{
                        margin: 0 8px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .bot-input{
        position: fixed;
        z-index: 30;
        bottom: 0;
        width: 100%;
        border-top: 1px solid $line-main-color;
        background-color: white;
        .input-wrapper{
            width: 100%;
            padding: 5px $view-padding;
            display: flex;
            justify-content: flex-start;
            .textarea{
                width: calc(100% - 60px);
                textarea{
                    padding: 5px;
                    width: 100%;
                    height: 30px;
                    min-height: 30px;
                    max-height:70px; 
                    line-height: 20px;
                    border-radius: 5px;
                    background-color: $bg-gray-color;
                }
            }
            .send{
                margin: 0 0 0 10px;
                width: 40px;
                min-height: 30px;
                position: relative;
                .send-btn{
                    position: absolute;
                    bottom: 0;
                    z-index: 1;
                    width: 40px;
                    height: 30px;  
                    text-align: center;
                    line-height: 30px;
                    border-radius: 5px;
                    color: white;
                    background-color: rgb(27,187,55);
                }
            }
        }
    }
    // 返回到顶部
    .scroll-to-top{
       position: fixed;
       bottom: 60px;
       right: -50px;
       padding: 2px;
       width: 40px;
       height: 40px;
       transition: all 0.2s ease-in;
       .icon{
           width: 100%;
           height: 100%;
       } 
       &.active{
           right: 5px;
       }
    }
    .head-bg{
        width: 100vw;
        height: 50vw;
        background-image: url('../imgs/realhome/底图.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .real-home{
        margin-top: $head-height;
        margin-bottom:  $tabs-height;
        padding: 5px 0 0;
        .icon-refreshing{
            ion-spinner * {
                width: 28px;
                height: 28px;
                stroke: #fff;
                fill: #f00;
            }
        }
        .text-refreshing{
            color: white;
            font-size: 14px;
        }
        .ad-slide-wrapper{
            position: relative;
            width: 100%;
            .slider-slides{
                height: calc(40vw);
                .slider-slide{
                    padding: 0 $view-padding;
                    height: 100%;
                    img{
                        display: block;
                        width: 100%;
                        min-height: 100%;
                        height: auto;
                        border-radius: 5px;
                    }
                }
            }
            .ad-slide-page-num{
                position: absolute;
                display: flex;
                justify-content: flex-end;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                height: 10px;
                border-radius: 5px;
                background-color: rgba(0,0,0,0.5);
                .flex-item{
                    display: inline-block;
                    margin: 3px 4px;
                    width: 4px;
                    height: 4px;
                    border-radius: 2px;
                    background-color: rgba(255,255,255,0.8)
                }
                .active{
                    background-color: white;
                }
            }
        }
        .white-scroll{
            background-color: white;
        }
        .func-entry-wrapper{
            padding: 15px 0;
            display: flex;
            justify-content: flex-start;
            box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
            .func-entry{
                width: 20%;
                .circle-item{
                    margin: auto;
                    width: 33px;
                    height: 34px;
                    text-align: center;
                    .icon{
                        width: 33px;
                        height: 34px;
                    }
                }
                
                .name-item{
                    margin: 5px 0 0;
                    width: 100%;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    font-size: 12px;
                    color: $font-main-color;
                }
            }
        }
        
        .video-live{
            padding: 15px 0;
            .vl-title{
                padding: 0 $view-padding;
                display: flex;
                justify-content: flex-start;
                height: 16px;
                .txt-cell{
                    margin-right: 10px;
                    width: 40px;
                    overflow: hidden;
                    height: 16px;
                    &.active{
                        color: $font-main-color;
                        border-bottom: 2px solid $bg-main-color;
                    }
                    .icon{
                        margin: -11px auto 0;
                        width: 38px;
                        height: 38px;
                    }
                }
                .more-cell{
                    width: calc(100% - 100px);
                    text-align: right;
                    line-height: 16px;
                    font-size: 12px;
                    color: $font-sup-color;
                }
            }
        
            .home-video-swiper-container,.home-followvideo-swiper-container{
                position: relative;
                margin: 14px 0 0;
                width: 100%;
                height: calc(33.33vw - 6px);
                overflow: hidden;
                background-color: white;
                .icon-wrapper{
                    position: absolute;
                    top: 0;
                    left: $view-padding;
                    z-index: 2;
                    width: 81px;
                    height: 20px;
                    overflow: hidden;
                    .icon{
                        width: 81px;
                        height: 81px;
                    }
                }
                .swiper-wrapper{
                    height: calc(33.33vw - 9px);
                    .swiper-slide {
                        position: relative;
                        z-index: 1;
                        width: calc(33.33vw - 9px);
                        height: calc(33.33vw - 9px);
                        margin: 0 0 0 9px;
                        .in-flex-item{
                            width: 100%;
                            height: 0;
                            overflow: hidden;
                            margin: 0;
                            border-radius: 5px;
                            padding-bottom: 100%; /* 原图显示关键 */
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover; 
                        }
                        
                        .fake-video{
                            position: absolute;
                            z-index: 3;
                            left: 0;
                            top:0;
                            width: 100%;
                            height: 100%;
                            line-height: calc(33.33vw - 9px);
                            text-align: center;
                            color: rgba(230,230,230,0.5);
                            .iconfont{
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
        .news-head-content{
            padding: 15px 0 15px;
            .news-title{
                padding: 0 $view-padding;
                display: flex;
                justify-content: flex-start;
                height: 16px;
                .item-cell{
                    width: 50%;
                    font-size: 16px;
                    &.left-cell{
                        overflow: hidden;
                        height: 16px; 
                        .icon{
                            margin: -11px 0 0;
                            width: 38px;
                            height: 38px;
                        }
                    }
                    &.right-cell{
                        text-align: right;
                        color: $font-sup-color;
                        line-height: 16px;
                       .iconfont{
                            font-size: 16px;
                       } 
                    }
                }
            }
            .news-three-sort{
                margin: 10px 0 0;
                padding: 0 $view-padding;
                width: 100%;
                height: 20px;
                display: flex;
                justify-content: flex-start;
                .news-sort{
                    margin: 0 10px 0 0;
                    line-height: 20px;
                    font-size: 14px;
                    color: $font-sup-color;
                    &.active{
                        color: $font-main-color;
                        border-bottom: 1px solid $bg-main-color;
                    }
                }
            }
            // swiper
            .swiper-container{
                width: 100%;
                height: 32px;
                overflow: hidden;
                font-size: 14px;
                background-color: white;
                border-bottom: 1px solid $line-main-color;
                .swiper-wrapper{
                    padding: 0 $view-padding;
                    .swiper-slide {
                        padding: 12px 0 0 0;
                        letter-spacing:2px;
                        width: 50px;
                        span{
                            width: 40px;
                            height: 20px;
                            line-height: 20px;
                            display:block;
                            color: $font-sup-color;
                            // transition:all .3s ease;
                        }
                        &.active{
                            span{
                                color: $bg-main-color;
                                // transform:scale(1.2);
                            } 
                        }
                    }
                }
            }
            .hot-focus-new{
                margin: 12px 0 0;
                height: 30px;
                display: flex;
                justify-content: flex-start;
                background-color: $bg-gray-color;
                .item-cell{
                    width: 33.33%;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    display: flex;
                    justify-content: center;
                    .icon{
                        margin: 5px 10px 5px 0;
                        width: 20px;
                        height: 20px;
                    }
                    .txt-wrapper{
                        height: 30px;
                        line-height: 30px;
                        font-size: 12px;
                        color: $font-sup-color;
                    }
                }
                
            }
        }
        // 动态

        .news-list-content{
            padding: 10px 12px;
            // 动态
            .t-l-item{
                padding: 10px 0 0;
                display: flex;
                justify-content: flex-start;
                .left-avatar{
                    width: 39px;
                    height: 39px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .right-main{
                    width: calc(100% - 39px);
                    padding: 0 0 0 6px;
                    h5.name{
                        margin: 0 0 5px;
                        line-height: 18px;
                        font-size: 16px;
                        color: $font-blue-color;
                        overflow: hidden;
                        span{
                            padding: 0 5px;
                            float: right;
                            color: $font-sup-color;
                        }
                    }
                    .follow-cont-wrapper,.tl-cont-wrapper{
                        position: relative;
                        padding: 0 0 20px;
                        overflow: hidden;
                        &.show-all{
                            height: auto;
                        }
                        &.show-some{
                            max-height: 80px;
                        }
                        .switch-show-all{
                            position: absolute;
                            bottom: 0;
                            z-index: 1;
                            width: 100%;
                            height: 20px;
                            font-size: 14px;
                            color: rgb(76,160,255);
                            background-color: white;
                        }
                    }
                    p.cont{
                        margin: 0;
                        font-size: 16px;
                        line-height: 20px;
                        color: $font-main-color;
                    }
                    // 单张图
                    .one-img-wrapper{
                        .img-item{
                            margin: 0 0 6px; 
                            max-width: 150px;                        
                            img{
                                width: 100%
                            }
                        } 
                    }
                    // 多张图
                    .imgs-wrapper{
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        .img-item{
                            margin: 0 0 6px; 
                            width: calc(33.33vw - 31px);
                            height:calc(33.33vw - 31px);
                            background-color: black;                         
                            &:nth-child(3n-1){
                                margin: 0 6px 6px;
                            }
                            .in-img-item{
                                width: 100%;
                                height: 0;
                                overflow: hidden;
                                margin: 0;
                                padding-bottom: 100%; /* 原图显示关键 */
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover; 
                            }
                        }
                    } 
                }
            }
            .t-l-bot-info{
                margin: 10px 0 0;
                height: 25px;
                line-height: 25px;
                font-size: 12px;
                color: $font-sup-color;
                display: flex;
                justify-content: flex-start;
                border-bottom: 1px solid $line-main-color;
                .bot-cell{
                    width: 50%;
                    &.right-cell{
                        text-align: right;
                    }
                    span{
                        padding-right: 10px;
                        &:last-child{
                            padding-right: 0;
                        }
                        .iconfont{
                            font-size: 18px;
                        }
                        &.active{
                            .iconfont{
                                color: red;
                            }
                        }
                    }
                }
            }
            .t-l-comment-main{
                .comment-action{
                    position: relative;
                    margin: 0 0 3px;
                    padding: 0 10px;
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    font-size: 16px;
                    color: $font-sup-color;
                    background-color: rgb(238,238,238);
                    &:after{
                        content: '';
                        border-bottom: 5px solid rgb(238,238,238);
                        border-top: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-left: 5px solid transparent;
                        position: absolute;
                        left: 5px;
                        top: -10px;
                    }
                    .iconfont{
                        font-size: 18px;
                    }
                }
                .like-o-com{
                    padding: 10px;
                    width: 100%;
                    background-color: rgb(238,238,238);
                    display: flex;
                    justify-content: flex-start;
                    &.like-content{
                        margin: 0 0 3px; 
                    }
                    .left-icon{
                        width: 30px;
                        text-align: center;
                        line-height: 25px;
                        color: $font-sup-color;
                    }
                    .like-list{
                        width: calc(100% - 30px);
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        .like-item{
                            margin: 0 3px 3px 0;
                            width: 30px;
                            height: 30px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .comment-list{
                        width: calc(100% - 30px);
                        .comment-item{
                            display: flex;
                            justify-content: flex-start;
                            .img-cell{
                                width: 30px;
                                height: 30px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            } 
                            .txt-cell{
                                padding: 0 0 0 6px;
                                width: calc(100% - 30px);
                                h5{
                                    margin: 0;
                                    height: 16px;
                                    line-height: 16px;
                                    font-size: 12px;
                                    color: $font-blue-color;
                                    .auth{
                                        padding: 1px 2px;
                                        font-size: 10px;
                                        border-radius: 2px;
                                        color: white;
                                        background-color: rgb(242,103,103);
                                    }
                                }
                                p.com-content{
                                    line-height: 20px;
                                    font-size: 14px;
                                    color: $font-main-color;
                                }
                            }
                        }
                    }
                }
                .close-comment{
                    padding-right: 10px;
                    width: 100%;
                    height: 20px;
                    text-align: right;
                    color: $font-blue-color;
                    background-color: rgb(238,238,238);
                }
            }
            // 资讯
            .news-item{
                padding: 10px 0 5px;
                h5{
                    margin: 0 0 10px;
                    line-height: 20px;
                    font-size: 16px;
                    color: $font-main-color;
                }
                &.one-img{
                    .main{
                        display: flex;
                        justify-content: flex-start;
                        h5{
                            padding-right: 10px;
                            width: calc(100% - 60px);
                            &.no-image{
                                padding: 0;
                                width: 100%;
                            }
                        }
                        .thumb{
                            width: 60px;
                            height: 60px;
                            .small-all-image{
                                width: 100%;
                                height: 0;
                                overflow: hidden;
                                margin: 0;
                                border-radius: 5px;
                                padding-bottom: 100%; /* 原图显示关键 */
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover; 
                            }
                        }
                    }    
                }
                &.many-imgs{
                    .main{
                        .imgs-wrapper{
                            display: flex;
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            .img-item{
                                margin: 0 0 6px; 
                                width: calc(33.33vw - 12px);
                                height:calc(33.33vw - 12px);
                                background-color: black;
                                &:nth-child(3n-1){
                                    margin: 0 6px 6px;
                                }
                                .small-all-image{
                                    width: 100%;
                                    height: 0;
                                    overflow: hidden;
                                    margin: 0;
                                    border-radius: 5px;
                                    padding-bottom: 100%; /* 原图显示关键 */
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover; 
                                }
                            }
                        }
                        
                    }    
                }
                .bot-info{
                    margin: 10px 0 0;
                    height: 25px;
                    line-height: 25px;
                    font-size: 12px;
                    color: $font-sup-color;
                    display: flex;
                    justify-content: flex-start;
                    border-bottom: 1px solid $line-main-color;
                    .bot-cell{
                        width: 50%;
                        &.right-cell{
                            text-align: right;
                        }
                        span{
                            padding-right: 10px;
                            &:last-child{
                                padding-right: 0;
                            }
                            .iconfont{
                                font-size: 18px;
                            }
                            &.active{
                                .iconfont{
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
            .comment-list{
                padding: 0 0 0 10px;
                .comment-item{
                    display: flex;
                    justify-content: flex-start;
                    .img-cell{
                        width: 30px;
                        height: 30px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .txt-cell{
                        width: calc(100% - 30px);
                        padding: 0 0 0 10px;
                        h5{
                            margin: 0;
                            padding: 0;
                            height: 20px;
                            line-height: 20px;
                            font-size: 16px;
                            border: none;
                            color: $font-main-color;
                        }
                        p{
                            margin: 0 0 5px;
                            color: $font-sup-color;
                            &.com-content{
                                font-size: 16px;
                            }
                            &.com-time{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}
