<div ng-click="closeBottomShareModal()" class="share-wrapper">
    <div class="share-item" ng-click="share(0)">
        <div class="img">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-weixin"></use>
            </svg>
        </div>
        <p>微信好友</p>
    </div>
    <div class="share-item" ng-click="share(1)">
        <div class="img">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-pengyouquan"></use>
            </svg>
        </div>
        <p>朋友圈</p>
    </div>
    <div class="share-item" ng-click="share(2)">
        <div class="img">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-QQ-"></use>
            </svg>
        </div>
        <p>QQ</p>
    </div>
    <div class="share-item" ng-click="share(3)">
        <div class="img">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-QQkongjian--"></use>
            </svg>
        </div>
        <p>QQ</p>
    </div>
</div>