<ion-view id="confirm_prize_order" view-title="确认订单" hide-nav-bar=true>
    <div class="header">
        <div class="back" ng-click="back()">
            <i class=" iconfont icon-xiangzuo1"></i>
        </div>
        <div class="title">
            确认订单
        </div>
        <div class="right">
            
        </div>
    </div>
    <div class="abs-foot">
        <div class="left">抵用金：<span>￥{{totalMoney | priceFilter}}</span></div>
        <div ng-click="createOrder()" class="right">立即兑换</div>
    </div>
    <ion-content has-bouncing="false" class="confirm-prize-order">
        <div ui-sref="addressList" class="buyer-info">
            <div class="name-phone">
                <div class="name">
                    <div class="icon-wrapper"><i class="iconfont icon-fl-renyuan"></i></div>
                    收货人:{{receiptAddress.Name}}</div>
                <div class="phone">{{receiptAddress.Phone}}</div>
            </div>
            <div class="address">
                <div class="left-icon icon-in"><i class="iconfont icon-dingwei"></i></div>
                <div class="mid-txt overflow-omit-two">收货地址:{{receiptAddress.Province}}{{receiptAddress.City}}{{receiptAddress.District}}{{receiptAddress.Street}}{{receiptAddress.Address}}</div>
                <div class="right-icon icon-in"><i class="iconfont icon-gengduo"></i></div>
            </div>
        </div>
        <div class="offline"></div>
        <div ng-repeat="group in productList track by $index" class="group-wrapper">
            <div class="group-title overflow-omit-one">
                <i class="iconfont icon-dianpu"></i>&nbsp;{{group.ShopName}}
            </div>
            <div ng-repeat="item in group.CartProductInfos track by $index" class="order-info">
                <div class="img">
                    <div class="in-img" ng-style="{'background-image': 'url('+item.Image+')'}"></div>
                </div>
                <div class="text-info">
                    <div class="product-name overflow-omit-two"> {{item.Name}}</div>
                    <div class="point-count">
                        <div class="point overflow-omit-one">￥{{item.UnitPrice}}抵用金</div>
                        <!-- <div class="count">x{{item.Quantity}}</div> -->
                        <div class="count">
                            x{{item.Quantity}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="leave-message clearfix">
                <div class="left-cell">留言</div>
                <div class="txt-cell">
                    <textarea placeholder="建议留言前先跟商家沟通确认"></textarea>
                </div>
            </div>
        </div>
       <div class="offline"></div>
       <div class="need-info">兑换需要￥{{totalMoney}}元抵用金，当前用户抵用金{{pageData.Vochers}}</div>
        <div class="fake-safe-bottom"></div>
    </ion-content>
    
</ion-view>
    
    