.fake-safe-bottom{
	height: $safe-bottom;
}
#confirm_prize_order{
    .abs-foot{
        position: absolute;
        bottom: 0;
        z-index: 1;
        padding: 5px 0 0;
				padding-bottom: $safe-bottom;
        width: 100%;
				min-height: 50px;
        $height:50px + $safe-bottom;
        height: $height;
        line-height: 40px;
        font-size: 16px;
        display: flex;
        justify-content: flex-start;
        border-top: 1px solid $line-main-color;
        background-color: white;
        .left{
            padding: 0 10px 0 0;
            width: calc(100% - 100px);
            text-align: right;
            color: $font-main-color;
            box-sizing: border-box;
        }
        .right{
            width: 100px;
            height: 40px;
            font-size: 16px;
            text-align: center;
            color: white;
            background-color: $bg-main-color;
        }
    }
    .confirm-prize-order{
        margin-top: $head-height;
        margin-bottom: calc(50px + $safe-bottom);
        padding: 0;
        .buyer-info{
            padding: 20px $view-padding;
            .name-phone{
                width: 100%;
                div{
                    float: left;
                    width: 50%;
                    height: 30px;
                    line-height: 30px;
                    font-size: 16px;
                    color: $font-main-color;
                }
                .name{
                    position: relative;
                    padding: 0 0 0 25px;
                    .icon-wrapper{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        color: $font-minor-color;
                        .iconfont{
                            font-size: 14px;
                        }
                    }
                }
                .phone{
                    padding: 0 20px 0 0;
                    text-align: right;
                }
            }
            .address{
                padding: 5px 0;
                width: 100%;
                height: 50px;
                .icon-in{
                    float: left;
                    height: 40px;
                    line-height: 20px;
                    color: $font-minor-color;
                    .iconfont{
                        font-size: 20px;
                    }
                }
                .left-icon{
                    text-align: left;
                    width: 25px;
                }
                .right-icon{
                    width: 20px;
                    text-align: center;
                    .iconfont{
                        font-size: 14px;
                    }
                }
                .mid-txt{
                    float: left;
                    width: calc(100% - 45px);
                    height: 40px;
                    line-height: 20px;
                    font-size: 16px;
                    color: $font-main-color;
                }
            }
        } 
        .group-wrapper{
            .group-title{
                padding: 0 $view-padding;
                width: 100%;
                height: 25px;
                line-height: 25px;
                font-size: 16px;
                color: $font-main-color;
                background-color: $bg-gray-color;
                .iconfont{
                    font-size: 14px;
                    color: $bg-main-color;
                }
            }
            .order-info{
                padding: 5px $view-padding;
                width: 100%;
                border-bottom: 1px solid $line-main-color;
                display: flex;
                justify-content: flex-start;
                .img{
                    padding: 4px;
                    width: 78px;
                    height: 78px;
                    .in-img{
                        width: 100%;
                        height: 0;
                        overflow: hidden;
                        margin: 0;
                        padding-bottom: 100%; /* 原图显示关键 */
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover; 
                    }
                }
                .text-info{
                    padding: 0 5px;
                    width: calc(100% - 60px);
                    height: 50px;
                    .product-name{
                        width: 100%;
                        height: 40px;
                        line-height: 20px;
                        font-size: 14px;
                        color: $font-main-color;
                    }
                    .score-count{
                        width: 100%;
                        height: 18px;
                        line-height: 18px;
                        font-size: 10px;
                        color: $font-price-red;
                    }
                    .point-count{
                        width: 100%;
                        height: 20px;
                        display: flex;
                        justify-content: flex-start;
                        .point{
                            width: calc(100% - 120px);
                            height: 25px;
                            line-height: 25px;
                            font-size: 16px;
                            color: $font-price-red;
                        }
                        .count{
                            padding: 2px 0 0;
                            width: 100%;
                            height: 25px;
                            font-size: 14px;
                            color: $font-minor-color;
                            width: 120px;
                            line-height: 22px;
                            text-align: right;
                        }
                    }
                }
            }
            .leave-message{
                padding: 10px $view-padding;
                height: 50px;
                line-height: 30px;
                font-size: 14px;
                color: $font-main-color;
                .left-cell{
                    float: left;
                    width: 50px;
                }
                .txt-cell{
                    float: left;
                    width: calc(100% - 50px);
                    height: 30px;
                    textarea{
                        padding: 0;
                        width: 100%;
                        height: 100%; 
                    }  
                }
            }
        } 
        .need-info{
            margin: 10px 0 0;
            padding: 0 $view-padding;
            line-height: 20px;
            font-size: 14px;
            color: $font-main-color;
        }
    }
}
