<ion-view id="group_invite" view-title="邀请好友进群聊" hide-nav-bar=true>  
	<div class="header">
		<div ng-click="back()" class="back">
			<i class="iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			邀请好友进群聊
		</div>
		<div ng-click="addGroupMembers()" class="right" ng-class="{true:'gray',false:''}[groupSubArr.length>0]">
			确定
		</div>
	</div>

	<!--显示客户列表-->
	<div>
		<ion-content class="group-invite" delegate-handle="clientScroll" has-bouncing="false">  
			<div ng-show="friendArr.length<1" class="no-results">
				<p>暂无联系人</p>
			</div>
			<ul class="letterli">   
				<li class="client-list" ng-if="group.value.length>0" ng-repeat="group in formatContacts | orderBy:'key'" id={{"group_invite_index-"+group.key}}>  
					<div class="label" id={{"client-"+group.key}}><strong>{{group.key}}</strong></div>  
					<ul class="clientli">  
						<label ng-repeat="item in group.value | orderBy:'pinyinName'">
							<li class="client-name">                       
								<div class="avatar">
									<img 
										ng-src="{{item.avatar || 'http://imgs.wujiuyun.com//Images//logo.png'}}" 
										onError="src='http://imgs.wujiuyun.com//Images//logo.png'"
										alt=""/
									>
								</div>
								<div class="name">{{item.nick || '房田用户'}}</div> 
								<div ng-show="item.existed" class="label-check">
									已在群
								</div>      
								<div ng-hide="item.existed" class="label-check">
									<input ng-disabled="item.existed" type="checkbox" name="ischeckbox" value="{{item.account}}" />
									<i class="iconfont icon-fuxuansel"></i>
								</div>      
							</li>  
						</label>
					</ul>  
				</li>  
			</ul> 
		</ion-content>  			
	</div>
	
	<!-- 返回顶部 -->
	<div ng-click="backTop()" class="back-top">
		<i class="iconfont icon-jiageshengxu-"></i>
	</div>
	<!--右侧导航-->
	<div class="linkman-shortcuts">  
		<a href="" ng-repeat="letter in letterarr"  ng-touchmove="mTouch($event,letter)" ng-click="mTouch($event,letter)">{{letter}}</a>
	</div> 
	
</ion-view>  