
#set_pay_password{
    .set-pay-password{
        margin: $head-height 0 0;
        background-color: $bg-gray-color;
        .input-explain{
            padding: 20px 0;
            text-align: center;
            .explain-head{
                width: 100%;
                height: 40px;
                line-height: 40px;
                font-size: 18px;
                color: $font-main-color;
            }
            .explain-bot{
                width: 100%;
                height: 30px;
                line-height: 30px;
                font-size: 12px;
                color: $font-main-color;
            }
        }
        
            
        .subbtn{
            width: 80%;
            height: 40px;
            margin: 30px auto;
            .button{
                width: 100%;
                height: 100%;
                text-align: center;
                background-color: $bg-main-color;
            }
        }
    }
}
