
<!--对话模板-->
<ion-view id="set_pay_password" view-title="密码" hide-nav-bar=true>
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">		
		</div>
		<div class="right" >
		</div>
	</div>
	<ion-content class="set-pay-password">

		<div ng-show="stepStatus==1" class="input-explain">
			<div class="explain-head">
				支付密码
			</div>
			<div class="explain-bot">请输入支付密码，以确认您的身份</div>
		</div>
		<div ng-show="stepStatus==2" class="input-explain">
			<div class="explain-head">
				支付密码
			</div>
			<div class="explain-bot">请设置支付密码，用于支付验证</div>
		</div>
		<div ng-show="stepStatus==3" class="input-explain">
			<div class="explain-head">
				支付密码
			</div>
			<div class="explain-bot">请再次填写用于确认</div>
		</div>

		<div class="six-pwd-input">
			<input type="tel" ng-model="fakeInput.value" ng-change="inputPwd()" name="password" class="password" maxlength="6">
			<ul class="showView">
				<li><i class="circle"></i></li>
				<li><i class="circle"></i></li>
				<li><i class="circle"></i></li>
				<li><i class="circle"></i></li>
				<li><i class="circle"></i></li>
				<li><i class="circle"></i></li>
			</ul>
		</div>
		
		<div ng-show="stepStatus==3" class="subbtn">
			<button ng-disabled="fakeInput.value.length!=6" ng-click="changeDone()" class="button">完成</button>
		</div>
	</ion-content>
	
</ion-view>

