#add_shop_t_d{
    .add-shop-t-d{
        background-color: $bg-gray-color;
        margin: $head-height 0 0;
        .text{
            background-color: $bg-gray-color;
            padding: 5px 12px 0;
            box-shadow: none;
            textarea{
                border-radius: 3px;
                width: 100%;
                padding: 5px 0 0 5px;
            }
        }
    }
}
