<!--消息界面模板-->
<ion-view id="add_buy_need" hide-nav-bar="true" view-title="">
	<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div class="title">
			求购需求
		</div>
		<div class="right">
		</div>
	</div>

	<ion-content class="add-buy-need">
		<div class="special-check">
			<div class="title">求购需求</div>
			<div class="list checkpicker">
				<label ng-hide="needInfo && addSubData.Type!=0">
					<input ng-model="addSubData.Type" type="radio" value="0"/>
					<span class="wrap">新房</span>	
				</label>
				<label ng-hide="needInfo && addSubData.Type!=1">
					<input ng-model="addSubData.Type" type="radio" value="1"/>
					<span class="wrap">二手房</span>	
				</label>
				<label ng-hide="needInfo && addSubData.Type!=5">
					<input ng-model="addSubData.Type" type="radio" value="5"/>
					<span class="wrap">商铺</span>	
				</label>
				<label ng-hide="needInfo && addSubData.Type!=17">
					<input ng-model="addSubData.Type" type="radio" value="17"/>
					<span class="wrap">写字楼</span>	
				</label>
				<label ng-hide="needInfo && addSubData.Type!=7">
					<input ng-model="addSubData.Type" type="radio" value="7"/>
					<span class="wrap">厂房</span>	
				</label>
				<label ng-hide="needInfo && addSubData.Type!=9">
					<input ng-model="addSubData.Type" type="radio" value="9"/>
					<span class="wrap">仓库</span>	
				</label>
				<label ng-hide="needInfo && addSubData.Type!=11">
					<input ng-model="addSubData.Type" type="radio" value="11"/>
					<span class="wrap">车位</span>	
				</label>
			</div>
		</div>

		<div class="price-range">
			<div class="title">您的价格预算</div>
			<input type="text" id="add_need_buy_price_range" value="" />
			
			<div class="title">您想买多大面积</div>
			<input type="text" id="add_need_buy_space_range" name="example_name" value="" />
		</div>

		<div class="title-wrapper">您想买的区域是</div>
		<div class="picker-input-wrapper">
			<div class="picker-input">
				<input type="text" class="buy-need-district" name="district" ng-model="subData.District" required=""  placeholder="请选择区域">
			</div>
		</div>
		
		<div ng-show="addSubData.Type==0||addSubData.Type==1" class="title-wrapper">您想买几居</div>
		<div ng-show="addSubData.Type==0||addSubData.Type==1" class="picker-input-wrapper">
			<div class="picker-input">
				<div class="down-input">
					<div class="cell-item">{{addSubData.RoomType}}</div>
					<div class="cell-item">室</div>
					<div class="cell-item">{{addSubData.HallType}}</div>
					<div class="cell-item">厅</div>
					<div class="cell-item">{{addSubData.BathType}}</div>
					<div class="cell-item">卫</div>
				</div>
				<input class="buy-need-room-num" type="text">
			</div>
		</div>

		<div ng-hide="addSubData.Type==7||addSubData.Type==9||addSubData.Type==11" class="title-wrapper">您的意向小区</div>
		<div ng-hide="addSubData.Type==7||addSubData.Type==9||addSubData.Type==11" ui-sref="buyNeedBC" class="picker-input-wrapper">
			<div class="picker-input" ng-class="{true:'pad active',false:'pad'}[addSubData.CommunityName!='']">
				{{addSubData.CommunityName || '非必填'}}
			</div>
		</div>

		<div class="title-wrapper">详细地址</div>
		<div class="picker-input-wrapper">
			<div class="fake-textarea">
				<textarea placeholder="非必填" ng-model="addSubData.Address"></textarea>
			</div>
		</div>
		<div class="title-wrapper">具体需求</div>
		<div class="picker-input-wrapper">
			<div class="fake-textarea">
				<textarea placeholder="非必填" ng-model="addSubData.Attach"></textarea>
			</div>
		</div>

		<div ng-click="save()" class="ft-sub-btn button">提交</div>
	</ion-content>

</ion-view>



