.after_clickpublish_go_login_modal{
    width: 250px;
    min-height: 100px;
    top: calc(50% - 120px);
    left: calc(50% - 125px);
    border-radius: 5px;
    .closeicon{
        position: absolute;
        z-index: 1;
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: $font-sup-color;
        .iconfont{
            font-size: 25px;
        }
    }
    .main-cont{
        padding: 10px 10px 15px;
        width: 100%;
        height: 100%;
        position: relative;
        .login-img{
            margin: auto;
            padding: 25px 0 0;
            width: 100%;
            height: 50px;
            h5{
                margin: 0;
                width: 100%;
                height: 25px;
                font-size: 18px;
                text-align: center;
                line-height: 25px;
            }
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .realname-img{
            width: 100%;
            height: 110px;
            padding: 15px 0;
            img{
                display: block;
                margin: auto;
                width: 80px;
                height: 80px;
            }
        }
        p{
            margin: 0;
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 16px;
            color: $font-main-color;
        }
        .btn{
            display: block;
            width: 100%;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border-radius: 5px;
            color: white;
            background-color: $bg-main-color;
        }
    }
}