
<ion-view id="real_name" view-title="实名认证" hide-nav-bar=true>
<div class="header">
		<div class="back" ng-click="back()">
			<i class=" iconfont icon-xiangzuo1"></i>
		</div>
		<div ng-click="baidu()" class="title">
			实名认证
		</div>
		<div class="right" >
			
		</div>
	</div>
	
	<!-- has-bouncing=false 不可滚动-->
	<ion-content class="real-name">
		<form novalidate name="formlogin">
			<div class="card list">
				<label class="item item-input">
					<span class="input-label">姓名</span>
		          	<input ng-disabled="true" type="text" name="name" ng-model="userinfo.Name" required=""  placeholder="姓名">
				</label>
				<label class="item item-input">
					<span class="input-label">身份证号</span>
		          	<input ng-disabled="true" type="text" name="idnumber" ng-model="userinfo.VNumber" required="" placeholder="身份证号" >
		        </label>
				<label class="item item-input">
					<span class="input-label">邮箱</span>
		          	<input type="text" name="email" ng-model="userinfo.Email" required="" placeholder="请输入邮箱号码" >
		        </label>
			</div>
			
			<div class="up-idcard">上传身份证</div>
			<div class="id-img">
				<p class="vcard-title">身份证正面</p>
				<img ng-click="froentAction()" ng-show="!showIdCard.showFrontVCard" class="img" src="imgs/realname/身份证-正面.jpg"></img>
				<img ng-click="froentAction()" ng-show="showIdCard.showFrontVCard" class="img" src="{{showIdCard.showFrontVCard}}"></img>
				
			</div>

			<div class="id-img-reverse">
				<p class="vcard-title">身份证反面</p>
				<img ng-click="backAction()" ng-show="!showIdCard.showReverseVCard" class="img" src="imgs/realname/身份证-背面.jpg"></img>
				<img ng-click="backAction()" ng-show="showIdCard.showReverseVCard" class="img" src="{{showIdCard.showReverseVCard}}"></img>
				
			</div>
			<div style="width:100%;height:15px;"></div>
		</form>
		
		<div ng-click="save()" class="save-btn">
			提交
		</div>
		<div style="width:100%;height:50px;"></div>
	</ion-content>
	
</ion-view>