
<div ng-show="filterActiveIndex==0" class="filter-content">
	<ion-content scrollbar-y="false">
		<ion-list>
			<ion-item 
				ng-click="chooseDistrict(key,value)" 
				ng-repeat="(key,value) in filterData.utilsDistricts track by $index">
				{{key}}
			</ion-item>
		</ion-list>
	</ion-content>
	<div class="child-content">
		<ion-content delegate-handle="ershou-filter-street-scroll" scrollbar-y="false">
			<ion-list>
				<ion-item 
					ng-click="chooseStreet(street)" 
					ng-repeat="street in streetList track by $index">
					{{street}}
				</ion-item>
			</ion-list>
		</ion-content>
	</div>
</div>
<div ng-show="filterActiveIndex==1" class="filter-content">
	<ion-content scrollbar-y="false">
		<ion-list>
			<ion-item ng-click="choosePrice(price.minprice,price.maxprice)" ng-repeat="price in filterData.oldPrice">
				<span ng-if="!price.minprice&&!price.maxprice">不限</span>
				<span ng-if="!price.minprice&&price.maxprice">{{price.maxprice}}万以下</span>
				<span ng-if="price.minprice&&price.maxprice">{{price.minprice}}-{{price.maxprice}}万</span>
				<span ng-if="price.minprice&&!price.maxprice">{{price.minprice}}万以上</span>
			</ion-item>
		</ion-list>
	</ion-content>
</div>

<div ng-show="filterActiveIndex==2" class="filter-content">
	<ion-content scrollbar-y="false">
		<ion-list>
			<ion-item ng-click="chooseRoomType(room.text,room.id)" ng-repeat="room in filterData.roomNum">
				{{room.text}}
			</ion-item>
		</ion-list>
	</ion-content>
</div>
<div ng-show="filterActiveIndex==3" class="filter-content-more">
	<ion-content scrollbar-y="false">
		<div ng-repeat="group in moreFilterData track by $index">
			<!-- 多选	 -->
			<div ng-hide="group.type=='radio'" class="special-check">
				<div class="title">{{group.title}}</div>
				<div class="list checkpicker">
					<label ng-repeat="item in group.list track by $index">
						<input ng-model="item.isChecked" ng-checked="item.isChecked" type="checkbox"/>
						<span class="wrap">{{item.text}}</span>	
					</label>
				</div>
			</div>
			<!-- 单选 -->
			<div ng-show="group.type=='radio' && classify=='住宅'" class="special-check">
				<div class="title">{{group.title}}</div>
				<div class="list checkpicker">
					<label ng-repeat="item in group.list track by $index">
						<input ng-model="oldQueryData.sort" type="radio" value="{{item.value}}"/>
						<span class="wrap">{{item.text}}</span>	
					</label>
				</div>
			</div>
			<!-- 单选 -->
			<div ng-show="group.type=='radio' && classify!='住宅'" class="special-check">
				<div class="title">{{group.title}}</div>
				<div class="list checkpicker">
					<label ng-repeat="item in group.list track by $index">
						<input ng-model="simpleQueryData.sort" type="radio" value="{{item.value}}"/>
						<span class="wrap">{{item.text}}</span>	
					</label>
				</div>
			</div>
		</div>
	</ion-content>
	<div class="bot-action">
		<div ng-click="resetFilter()" class="action-item cancel">重置</div>
		<div ng-click="confirmFilter()" class="action-item confirm">确认</div>
	</div>
</div>
<div ng-show="filterActiveIndex==4" class="filter-content">
	<ion-content scrollbar-y="false">
		<ion-list>
			<ion-item ng-click="chooseHouseType(type.text,type.id)" ng-repeat="type in filterData.oldhouseType">
				{{type.text}}
			</ion-item>
		</ion-list>
	</ion-content>
</div>
<div ng-show="filterActiveIndex>0 || filterActiveIndex == 0" ng-click="closeFilter()" class="filter-mask"></div>
