#client_detail{
    .client-detail{
        margin-top: 44px;
        p.base,p.need{
            margin: 0;
            padding: 0 0 0 12px;
            width: 100%;
            height: 35px;
            line-height: 35px;
            font-size: 14px;
            color: #333;
            background-color: #f2f2f2;
        }
        .baseinfo{
            ul{
                width: 100%;
                height: 176px;
                padding: 0 0 0 12px;
                li{
                    width: 100%;
                    height: 44px;
                    border-bottom: 1px solid rgb(230,230,230);
                    .left{
                        float: left;
                        width: 25%;
                        height: 100%;
                        line-height: 44px;
                        font-size: 14px;
                        color: #969696;
                    }
                    .right{
                        float: left;
                        width: 75%;
                        height: 100%;
                        line-height: 44px;
                        font-size: 14px;
                        color: #333333;
                    }
                }
                li:last-child{
                    border: none;
                }
            }
        }
        .needinfo{
            ul{
                width: 100%;
                padding: 0 0 0 12px;
                li{
                    width: 100%;
                    height: 44px;
                    border-bottom: 1px solid rgb(230,230,230);
                    .left{
                        float: left;
                        width: 25%;
                        height: 100%;
                        line-height: 44px;
                        font-size: 14px;
                        color: #969696;
                    }
                    .right{
                        float: left;
                        width: 75%;
                        height: 100%;
                        line-height: 44px;
                        font-size: 14px;
                        color: #333333;
                    }
                }
                li:last-child{
                    border: none;
                }
            }
        }
    }
}
