#video_player{
    // .scroll {
    //     overflow: hidden;
    // }
    .video-player{
        .top-video{
            overflow: hidden;
            width: 100%;
            padding: 25px 0 0;
            position: relative;
            background-color: #000;
            .btn {
                z-index: 999;
                position: absolute;
                top: $abs-top;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                text-align: center;
                line-height: 35px;
                font-size: 25px;
                font-weight: 500;
                // background-color: rgba(0,0,0,0.1);
                color: white;
            }
            .backbotton {
                left: 5px;
                .iconfont{
                    font-size: 20px;
                }
            }
            .sharebotton {
                right: 5px;
            }
            // 全屏下标题
            .close-fullscreen{
                padding: $head-padding $view-padding 0; 
                width: 100%;
                height: 50px;
                position: absolute;
                top: 0;
                z-index: 1;
                line-height: 25px;
                font-size: 16px;
                color: white;
                .iconfont{
                    font-size: 18px;
                }
            }
            // 收起动画
            .close-fullscreen.cur{
                transform: translate3d(0, -50px, 0);
                -webkit-transform: translate3d(0, -50px, 0);
            }
            // 加载中
            .video-loading{
                position: absolute;
                z-index: 1;
                width: 30px;
                height: 30px;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                svg{
                    width: 100%;
                    height: 100%;
                }
            }
            // directive内的video-container
            .video-container{
                position: relative;
                width: 100%;
                height: 56.25vw;
                background: #000;
                video{
                    width: 100%;
                    height: 100%;
                    background: #000;
                }
                // 控件
                .video-controll-bar {
                    // position: fixed;
                    position: absolute;
                    bottom: 0;
                    z-index: 1;
                    width: 100%;
                    height: 56px;
                    line-height: 56px;
                    color: #fff;
                    background-color: rgba(0,0,0,.3);
                    transition: all .2s ease-out 0s;
                    -webkit-transition: all .2s ease-out 0s;
                    display: flex;
                    justify-content: flex-start;
                    .play-btn{
                        width: 56px;
                        height: 56px;
                        .playing-btn {
                            display: block;
                            width: 100%;
                            height: 100%;
                            background: url(../imgs/play-btn.png) no-repeat center -23px;
                            background-size: 45% auto;
                        }
                    }
                    .play-btn.cur{
                        .playing-btn {
                            background-position: center 18px;
                            background-size: 50% auto;
                        }
                    } 
                    .video-time {
                        padding-left: 10px;
                        width: calc(100% - 146px);
                        font-size: 13px;
                    }
                    .video-voice{
                        text-align: center;
                        width: 40px;
                        text-align: center;
                        .iconfont{
                            font-size: 20px;
                        }
                    }
                    .video-fullscreen{
                        padding: 0 10px 0 0;
                        width: 50px;
                        height: 56px;
                        text-align: center;
                        .iconfont{
                            font-size: 20px;
                        }
                    }
                    .video-progress-zone {
                        position: absolute;
                        top: -1px;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 0;
                        .video-range-track {
                            width: 100%;
                            height: 3px;
                            background-color: rgba(255, 255, 255, .3);
                        }
                        .video-range-input {
                            width: 100%;
                            height: 15px;
                            margin: 0;
                            padding: 0;
                            // border: none;
                            box-shadow: none;
                            // background: none;
                        }
                        .video-range-input[type="range"]::-webkit-slider-thumb {
                            &:before {
                                position: absolute;
                                content: ' ';
                                top: 5px;
                                left: -1998px;
                                background: #fff;
                            }
                            -webkit-appearance: none;
                            cursor: default;
                            top: 0;
                            height: 12px;
                            width: 12px;
                            background: #fff;
                            border-radius: 50%;
                            box-shadow: 0 0 3px #fff;
                            overflow: visible;
                            position: relative;
                        }
                    }

                }
                // 缓冲
                .video-loading{
                    .spinner {
                        fill: #808080;
                        svg {
                            width: 70px;
                            height: 70px;
                        }
                    }
                }
            }
            // end directive内样式
        }
        // 全屏
        .top-video.full-screen{
            padding: 0;
            // directive内的video-container
            .video-container{
                height: 100vh;
            }
        }
    }   
    // 底部视频信息
    .bot-content{
        margin: calc(56.25vw + 25px) 0 0;
        width: 100%;
        height: calc(100vh - 56.25vw - 25px);
        position: relative;
        z-index: 2;
        background-color: white;
        .video-detail{
            padding: 0;
            .video-title{
                padding: 0 $view-padding;
                width: 100%;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                color: $font-main-color;
            }
            .video-introduction{
                padding: 0 $view-padding 10px;
                line-height: 20px;
                font-size: 14px;
                color: $font-sup-color;
                text-indent: 2em;
            }
        }
    }
}
/* 隐藏bar的动画 */
#video_player.cur .video-controll-bar{
    transform: translate3d(0, 55px, 0);
    -webkit-transform: translate3d(0, 55px, 0);
} 
#video_player.cur ion-header-bar{
    transform: translate3d(0, -44px, 0);
    -webkit-transform: translate3d(0, -44px, 0);
} 
